<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>功能</th>
        <th>描述</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= link_to "自定义菜单", diy_menu_admin_public_accounts_path %></td>
        <td>自定义微信公众账号功能菜单</td>
      </tr>
      <tr>
        <td><%= link_to "二维码管理", admin_qrcodes_path %> </td>
        <td>生成二维码</td>
      </tr>
    </tbody>
  </table>
</div>
