<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>功能</th>
        <th>描述</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= link_to "自定义菜单", new_admin_public_account_path %></td>
        <td>自定义微信公众账号功能菜单</td>
      </tr>
    </tbody>
  </table>
</div>
