<div class="main clearfix static-pages">
  <div class="icon pull-left">
    <%= image_tag "static_pages/anquan32/icon.png" %>
  </div>
  <div class="content anquan32 pull-left" >
    <div class="anquan32-title text-center">
      小卡技师会为您的爱车进行全车&nbsp;<span class="big-font">32项安全检测</span><br/>包括刹车系统、轮胎系统、底盘检视、油液系统、电瓶检测、灯光系统、滤清器系统、雨刷系统以及随车工具在内的<span class="big-font">九大类检测</span><br/>让您的爱车轻松上路
    </div>
    <div class="desc pull-left">
      <table>
        <tr class="desc-title">
          <td>灯光系统</td>
          <td>油液系统</td>
          <td>电瓶</td>
          <td>滤清器</td>
          <td>雨刷系统</td>
        </tr>
        <tr>
          <td>
            <p>远光灯</p>
            <p>近光灯</p>
            <p>转向灯</p>
            <p>刹车灯</p>
            <p>雾灯</p>
            <p>小灯</p>
            <p>倒车灯</p>
            <p>牌照灯</p>
          </td>
          <td>
            <p>机油检查</p>
            <p>防冻液检查</p>
            <p>转向油检查(可选，看车型)</p>
          </td>
          <td>
            <p>电瓶健康程度</p>
            <p>电瓶充电量</p>
            <p>电瓶外观</p>
            <p>电瓶指示灯</p>
            <p>电瓶柱头</p>
          </td>
          <td>
            <p>空气滤清器</p>
            <p>空调滤清器</p>
          </td>
          <td>
            <p>前后雨刷</p>
            <p>玻璃水</p>
          </td>
        </tr>
        <tr class="desc-title">
          <td>轮胎系统</td>
          <td>刹车系统</td>
          <td>底盘</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <p>花纹深度</p>
            <p>生产日期</p>
            <p>老化程度</p>
            <p>胎压</p>
            <p>轮胎外观</p>
          </td>
          <td>
            <p>刹车片</p>
            <p>刹车盘</p>
            <p>刹车液</p>
          </td>
          <td>
            <p>底盘目视检查</p>
          </td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
