<div class="main clearfix static-pages">
  <div class="icon pull-left">
    <%= image_tag "static_pages/lianxiwomen/icon.png" %>
  </div>
  <div class="content lianxiwomen pull-left" >
    <div class="left-part pull-left">
      <%= image_tag "static_pages/lianxiwomen/kalading.jpg", :class=>"img" %>
    </div>
    <div class="right-part pull-left">
      <div class="desc pull-left">
        北京卡拉丁汽车技术服务有限公司提倡平等和互助，在卡拉丁团队中，每一位卡拉丁人都将享受平等、互助的伙伴式工作氛围，员工的成功就是卡拉丁的成功。
      </div>
      <div class="dizhi pull-left">
        <div class="dizhi-title pull-left">
          联系地址：
        </div>
        <div class="dizhi-content pull-left">
          北京市朝阳区北四环东路133号3号楼嘉华大厦5层 (北京总部)
        </div>
      </div>
      <div class="dianhua pull-left">
        <div class="dianhua-title pull-left">
          联系电话：
        </div>
        <div class="dianhua-content pull-left">
          400-006-8181 (北京总部)
        </div>
      </div>
      <div class="hezuo pull-left">
        <div class="hezuo-title pull-left">
          市场合作：
        </div>
        <div class="hezuo-content pull-left">
          请发送邮件至 marketing@kalading.com
        </div>
      </div>
      <div class="yingpin pull-left">
        <div class="yingpin-title pull-left">
          应聘工作：
        </div>
        <div class="yingpin-content pull-left">
          请发送邮件至 hr@kalading.com
        </div>
      </div>
    </div>
  </div>
</div>
