<div class="main clearfix static-pages">
  <div class="icon pull-left">
    <%= image_tag "static_pages/qiyerongyu/icon.png" %>
  </div>
  <div class="content qiyerongyu text-center" >
    <%= image_tag "static_pages/qiyerongyu/qiyerongyu.jpg", :class=>"img" %>
  </div>
</div>
