<div class="main clearfix static-pages">
  <div class="icon pull-left">
    <%= image_tag "static_pages/tuanduifengcai/icon.png" %>
  </div>
  <div class="content tuanduifengcai pull-left" >
    <div class="left-part pull-left">
      <%= image_tag "static_pages/tuanduifengcai/team.jpg", :class=>"icon-img" %>
    </div>
    <div class="right-part pull-right">
      <div class="first-pragment pull-left">
        <span class="first-highlight">卡拉丁人</span>&nbsp;来自保险、汽车修理、互联网、媒体等行业，既有毕业于北大、清华、中国科大、浙大和加州理工等知名学府拥有成功的创业经验和优秀经营理念的管理团队，也有毕业于北京联合大学、蓝翔技校、北方汽修、东方汽修、现代技术学院等，多年在4S店和维修企业摸爬滚打的优秀汽车技术人才；
      </div>
      <div class="second-pragment pull-left">
        “由己及人，成人达己”，卡拉丁人坚信，每一个车主都喜欢坐在家里怡然自得的享受卡拉丁技师提供的优质服务，每一个来自普通家庭的技师都愿意努力付出，用自己辛勤的劳动在服务用户的同时让自己成长；卡拉丁提倡本分和真诚，拒绝浮躁和伪善，卡拉丁人愿意在任何时候让您感受到我们对您的真诚和尊重，您的满意就是我们的奖赏和动力。
      </div>
      <div class="third-pragment pull-left">
        卡拉丁提倡平等和互助，在卡拉丁团队中，每一位卡拉丁人都将享受平等、互助的伙伴式工作氛围，员工的成功就是卡拉丁的成功。
      </div>
      <div class="foot-pragment pull-left">
        欢迎进入卡拉丁大家庭  hr@kalading.com
      </div>
    </div>
  </div>
</div>
