<div class="static-page">
  <% if params[:id] == "fu-wu-liu-cheng" %>
    <%= render "fu_wu_liu_cheng" %>

  <% elsif params[:id] == "ji-you-ji-lv" %>
    <%= render "ji_you_ji_lv" %>
  <% elsif params[:id] == "geng-huan-dian-ping" %>
    <%= render "geng_huan_dian_ping" %>
  <% end %>
</div>
