<div class="kld-footer clearfix">
	<%= image_tag("new-index/logo2.png",:class => 'logo')%>
	<div class="copy">
		<span>Copyright © 2015 kalading.com</span>
		<span>备案号：京ICP备14006393号</span>    
		<span>京公网安备11010502026969</span>   
		<span>经营许可编号：京A2-1286578 营业执照</span>
	</div>
</div>