<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>所属账号</th>
        <th>编辑</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @account.name %></td>
        <td><%= link_to "编辑", admin_edit_menu_path %></td>
      </tr>
    </tbody>
  </table>
</div>
<%= link_to "返回", admin_weixin_index_path %>
