@mixin button(){
  padding: 8px 35px;
  text-align: center;
  display: inline-block;
  height: 35px;
  // border: 1px solid #e97a0c;
  border: 0;
  font-size: 14px;
  // font-weight: bold;
  color: white;
  text-decoration: none;
  @include border-radius(4px);
  // @include background-image(linear-gradient(top , #ff9933, #ec8721));
  // @include filter-gradient(#ff9933, #ec8721);
  background-color: #ff9933;
  @include text-shadow(rgba(0, 0, 0, 0.2) 0 1px 0);
  // @include box-shadow(inset 0px 1px rgba(255, 255, 255, 0.4));

  cursor: pointer;

  &:hover{
    // @include background-image(linear-gradient(top, #ec8721, #ff9933));
    // @include filter-gradient(#ec8721, #ff9933);
    background-color: #ec8721;
  }

  &.disabled{
    // @include box-shadow(none);
    opacity: 0.6;
  }
}
