@mixin checkbox(){

  input[type="checkbox"]{
    display: none;
  }
  input[type="checkbox"] + label span{
    display:inline-block;
    width:18px;
    height:18px;
    margin:-2px 0px 0 0;
    vertical-align:middle;
    background:image-url("check_radio.png") 0px top no-repeat;
    cursor:pointer;
  }
  input[type="check_radio"]:checked + label span{
    background:image-url("check_radio.png") -18px top no-repeat;
  }

}
