<% lights = report['lights'] %>
<% lights.each do |light| %>
<% if light %>
  <p>
    <%= light_name_mapper light['name'] %>：
    <span class='<%= status_class_arr light['desc']%>'>
    	<%= light_desc_mapper light['desc'] %>
    </span>
  </p>
<% end %>
<% end %>
