<% lights = report['lights'] %>
<div class="appearance">
  <ul>
    <% lights.each do |light| %>
      <% if light %>
        <li class='clearfix'>
          <div class="name pull-left">
            <%= light_name_mapper light['name'] %>
          </div>
          <div class="state pull-left <%= status_class_arr light['desc']%>">
            <%= light_desc_mapper light['desc'] %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
