<div class="modal-dialog modal-sm">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title">请选择取消订单的理由</h4>
    </div>

    <div class="modal-body">

      <ul class='clearfix reasons'>
        <li class='pull-left'>
          <div class="pull-left">
            我不想买了
          </div>

          <div class="pull-right">
            <input type="radio" name="reason">
          </div>
        </li>

        <li class='pull-left'>
          <div class="pull-left">
            信息填写错误，重新下订单
          </div>

          <div class="pull-right">
            <input type="radio" name="reason">
          </div>
        </li>

        <li class='pull-left'>
          <div class="pull-left">
            预约时间不合适
          </div>

          <div class="pull-right">
            <input type="radio" name="reason">
          </div>
        </li>

        <li class='pull-left'>
          <div class="pull-left">
            其他原因
          </div>

          <div class="pull-right">
            <input type="radio" name="reason">
          </div>
        </li>
      </ul>

      <textarea id="other_reason" class="form-control" rows="3">

      </textarea>
    </div>

    <div class="modal-footer">
      <button class='btn btn-default orange-btn'>取消</button>
      <button class='btn btn-default orange-btn'>确定</button>
    </div>
  </div>
</div>
