<div class="modal-dialog modal-sm">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title">请选择取消订单的理由</h4>
      <hr>
    </div>

    <div class="modal-body">

      <ul class='clearfix reasons'>
        <li class='pull-left'>
          <div class="pull-left">
            <label for="reason1">
              我不想买了
            </label>
          </div>

          <div class="pull-right">
            <input type="radio" name="reason" id="reason1">
            <label for="reason1"><span></span></label>
          </div>
        </li>

        <li class='pull-left'>
          <div class="pull-left">
            <label for="reason2">
              信息填写错误，重新下订单
            </label>
          </div>

          <div class="pull-right">
            <input type="radio" name="reason" id="reason2">
            <label for="reason2"><span></span></label>
          </div>
        </li>

        <li class='pull-left'>
          <div class="pull-left">
            <label for="reason3">
              预约时间不合适
            </label>
          </div>

          <div class="pull-right">
            <input type="radio" name="reason" id="reason3">
            <label for="reason3"><span></span></label>
          </div>
        </li>

        <li class='pull-left'>
          <div class="pull-left">
            <label for="reason4">
              其他原因
            </label>
          </div>

          <div class="pull-right">
            <input type="radio" name="reason" id="reason4">
            <label for="reason4"><span></span></label>
          </div>
        </li>
      </ul>

      <div class="textarea">
        <textarea id="other_reason" class="form-control" rows="3">
        </textarea>
      </div>

    </div>

    <div class="modal-footer">
        <a href="#" class="btn btn-default" role="button">取消</a>
        <a href="#" class="btn btn-default" role="button">确定</a>
    </div>
  </div>
</div>
