<div class="modal fade" id="maintain_report_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">

        <div class="modal-header">
          <h4 class="modal-title">车辆体检报告</h4>
        </div>

        <div class="report-body">

          <% order = @maintain_orders.first %>

          <%= render "report_body", report: order %>

        </div>

        <div class="close-btn">
          <button class='btn btn-default'>我知道了</button>
        </div>
      </div>
    </div>
  </div>
</div>

