<div class="orders">
<<<<<<< HEAD
  <% if @orders['data'] && @orders.length > 0 %>
=======
  <% if @orders.length > 0 %>
>>>>>>> 30d56cbd3dc60b520a6db680f2267d824af44796

    <% @orders['data'].each do |order| %>
      <%= render "order_item", order: order %>
    <% end %>

  <% else %>
    <p>呀~您还没有预定过我们的服务呢~</p>
    <p>赶紧去首页下单吧！</p>
  <% end %>
</div>
