<%= title "集团客户服务" %>

<div class="container user-info guest-service">
  <div class="row">
    <div class="col-md-12 title">
      关于我们
    </div>
  </div>

  <div class="row">
    <%= render "users/menu" %>
    <div class="col-md-9 content">
      <%= render "users/guest_service" %>
    </div>
  </div>
</div>