<%= title "个人信息" %>

<div class="container user-info i">

  <div class="row">
    <div class="col-md-12 title">
      个人信息
    </div>
  </div>

  <div class="row">

    <%= render "users/menu" %>

    <div class="col-md-9 content">

      我
    </div>
  </div>
</div>
