<div class="my-orders-phone phone-page">
  <div class="head-title">
	<span class="back">< 返回</span>
	<span>上门保养</span>
	<%= image_tag("menu.jpg",:class => 'menu')%>
  </div>
  <div class="orders-list">
  	<h4 class="item-title">我的订单</h4>
  	<%= render "users/orders_list" %>
  </div>
</div>