<div class="my-orders-phone phone-page user-info">
  <div class="orders-list">
    <h4 class="item-title my-orders-title">我的订单</h4>
    <%= render "users/orders_list" %>
  </div>
</div>

<div class="modal fade" id="comment_modal">
  <%= render "users/comment_tag" %>
</div>

<div class="modal fade" id="cancel_modal">
  <%= render "users/cancel_modal" %>
</div>
