<div class="car pull-left col-sm-3">
  <div class="input-group btn-group">
    <span class="input-group-addon">
      <input type="checkbox" name="car_products" aria-label="...">
    </span>

    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
      空调滤清器|卡拉丁PM2.5 <span class="caret"></span>
      <span class="ori-price">79元</span>
      <span class="new-price">9.9</span>元
    </button>

    <div class="content dropdown-menu" role="menu">
      <ul>
        <li>品牌: &nbsp; 宝马(进口)</li>
        <li>系列: &nbsp; E</li>
        <li>型号: &nbsp; E200k（W211）2.0L 2006.09-2014</li>
      </ul>
    </div>
  </div>
</div>
