<nav class="navbar navbar-default navbar-fixed-top phone-header">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to :back, class: 'navbar-brand' do %>
        <span class='glyphicon glyphicon-chevron-left'></span>
      <% end %>
      <p class="navbar-text"><%= title %></p>
    </div>
  </div>
</nav>
