<div class="modal fade" id="login_modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">

        <div class="modal-header">
          <h4 class="modal-title">请登录</h4>
        </div>

        <div class="login-form">

          <div class="form-bac bac-white"></div>
          <div class="form-con">
            <div class="field">
              <input title="手机号" class="phone_num form-control" id="phone_num" placeholder="手机号">
              <input title="验证码" class="verification_code form-control" placeholder="验证码" id="verification_code"/>
              <button title="点击获取验证码" class='get_code bac-orange font-white' id="get_code" mark="login">获取验证码</button>
            </div>
          </div>

        </div>

        <div class="login">

          <button title="登录" id="submit_button" class="btn btn-default submit_button bac-orange font-white">登录</button>

        </div>
      </div>
    </div>
  </div>
</div>


