<div class="modal fade" id="qrcode_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <%= image_tag "wei.png", alt: '客服微信'%>

      </div>
    </div>
  </div>
</div>
