<div class="form-group addresses">
  <label class="addr col-sm-2 control-label">
    选择常用地址:
  </label>

  <div class="col-sm-6">
    <%= render "service_addresses/addresses" %>
    <div class="add">
      <a class='btn btn-default orange-btn'>添加</a>
    </div>
  </div>
</div>
