<div class="modal fade" id="select_city_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <div class="modal-header">
          <h4 class="modal-title">选择服务城市</h4>
        </div>

        <div class="cities clearfix" data-toggle="buttons">
          <% City.all.each do |city| %>
            <div class="city pull-left">
              <label class="btn btn-default <%= "active" if city.name == current_city_name %>">
                <input name="city" type="radio" value="<%= city.id %>"><%= city.name %>
              </label>
            </div>
          <% end %>
        </div>

        <div class="submit">
          <button id="change_city" class='btn submit_button font-white'>确定</button>
        </div>

      </div>
    </div>
  </div>
</div>

