<div class="modal fade" id="select_car_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <div class="modal-header">
          <h4 class="modal-title">添加车辆</h4>
        </div>

        <%= render "shared/select_car" %>

        <div class="add-car">
          <button class='btn btn-default orange-btn'>添加</button>
        </div>
      </div>
    </div>
  </div>
</div>
