<% content_for :javascripts do %>
  <%= javascript_include_tag "orders", 'data-turbolinks-track' => true %>
<% end %>

<div class="auto-brands-phone phone-page">
	<% @brands.each do |brand| %>
	  <div class="carinfo list clearfix" >
	    <div class="brand pull-left" >
        <%= link_to brand["name"], auto_series_orders_path(id: brand['_id'], act: params[:act], type: params[:type]) %>
	    </div>
	    <div class="arrow glyphicon glyphicon-chevron-right pull-right">
	    </div>
	  </div>
	<% end %>
</div>
