<div class="order-status-phone phone-page">
  <div class="order-status">
	<h4 class="item-title">订单状态</h4>
	<ul class="status">
		<li class="selected">
			<span class="num"></span>
			<p class="title">1. 提交订单</p>
			<p class="con">
				您已经成功提交订单，请耐心等待我们的客服人员确认。
			</p>
		</li>
		<li>
			<span class="num"></span>
			<p class="title">2. 等待客服确认</p>
			<p class="con">
				客服会在您下单后24h内联系您，如有疑问，也可以拨打4000000000进行咨询。
			</p>
		</li>
		<li>
			<span class="num"></span>
			<p class="title">3. 等待技师预约</p>
			<p class="con">
				您已经成功提交订单，请耐心等待我们的客服人员确认。
			</p>
		</li>
		<li>
			<span class="num"></span>
			<p class="title">4. 等待上门服务</p>
			<p class="con">
				技师与您预约后，会带着您的配件按时上门给您进行服务。
			</p>
		</li>
	</ul>
  </div>
  <div class="tips">
  	<h4 class="item-title">温馨提示</h4>
  	<p class="">订单完成后，请您对我们的服务进行评价哦~我们竭诚为您服务。</p>
  </div>
</div>