<% content_for :javascripts do %>
  <%= javascript_include_tag "orders", 'data-turbolinks-track' => true %>
<% end %>

<%= title "提交订单" %>

<%= @result %>

<div class="place-order-page">
  <form class="cmxform" id="commentForm" method="post" action="/orders/submit">
    <fieldset>
      <p>
      <var class="star">*</var>
      <label for="name">姓名:</label>
      <input id="name" name="name" minlength="2" type="text" required/>
      </p>
      <p>
      <label for="">所在地区:</label>
      <select name="city_name" id="city_name">
        <option value="">北京市</option>
      </select>
      <select name="town_name" id="town_name">
        <option value="">朝阳区</option>
      </select>
      </p>
      <p>
      <var class="star">*</var>
      <label for="address">详细地址:</label>
      <input id="address" name="address_detail" type="text" required/>
      </p>
      <p>
      <var class="star">*</var>
      <label for="phone_num">手机号码:</label>
      <input id="phone_num" name="phone_num" minlength="11" type="text" required/>
      </p>
      <p>
      <var class="star">*</var>
      <label for="car_num">车牌号:</label>
      <select name="car_num">
        <option value="">京</option>
      </select>
      <input id="car_num" name="car_num" minlength="6" value="车牌后六位" type="text" required/>
      </p>
      <p>
      <var class="star">*</var>
      <label for="serve_datetime">服务时间:</label>
      <input id="serve_datetime" name="serve_datetime" type="text" required/>
      <select name="car_num">
        <option value="">8:00 - 12:00</option>
      </select>
      </p>
      <p>
      <var class="star">*</var>
      <label for="pay_type">付款方式:</label>
      <select id="pay_type" name="pay_type" required>
        <option value="">现金</option>
        <option value="">刷卡</option>
      </select>
      </p>
      <p>
      <label for="friend_phone">朋友手机:</label>
      <input id="friend_phone" name="friend_phone" minlength="11" type="text" required/>
      </p>
      <p>
      <var class="star">*</var>
      <label for="registration_date">车辆注册时间:</label>
      <input id="registration_date" name="registration_date" type="text" required/>
      </p>
      <p>
      <label for="engine_num">发动机号码:</label>
      <input id="engine_num" name="engine_num" type="text"/>
      </p>
      <p>
      <label for="vin">VIN:</label>
      <input id="vin" name="vin" type="text"/>
      </p>
      <p>
      <input type="checkbox" name="invoice_2" checked="">
      <label for="invoice_2">不要发票</label>
      <input type="checkbox" name="invoice_1">
      <label for="invoice_1">发票</label>
      <input type="hidden" id = "invoice_num" value= "0">
      </p>
      <p>
      <input type="checkbox" name="preferential_1" checked="">
      <label for="preferential_1">无电子优惠券</label>
      <input type="checkbox" name="preferential_2">
      <label for="preferential_2">有电子优惠券</label>
      </p>
      <p>
      <label for="input_clinet_title">备注:</label>
      <input id="input_clinet_title" name="input_clinet_title" value="填写备注" type="text"/>
      </p>
      <table id="item_table">
        <thead>商品详情</thead>
        <tbody>
        <tr>
          <td>商品名称</td>
          <td>保养项目</td>
          <td>价格</td>
          <td>总价</td>
        </tr>
        </tbody>
        <tfoot></tfoot>
      </table>
      <p>
      <p class = "">应付总额: ￥
      <strong class = "good-price" id="price">
        元
      </strong>
      </p>
      <input class="submit" type="submit" value="提交订单"/>
      </p>
    </fieldset>
  </form>
</div>
