<div class="my-orders-phone phone-page user-info orders">

  <%= render "shared/header", title: "订单详情" %>
  <div class="orders-list">
    <%= render "order_info" %>
  </div>
</div>

<div class="modal fade" id="comment_modal">
  <%= render "users/comment_tag" %>
</div>

<div class="modal fade" id="cancel_modal">
  <%= render "users/cancel_modal" %>
</div>

