<div class="new-car-select success-page">
  <div class="first special">
    <div class="main">
      <%= image_tag("new-order/step-4.png", :class => 'tag2')%>

      <div class="maintain-items clearfix">

        <div class="pull-left big-icon">
          <%= image_tag "new-order/success.png" %>
        </div>

        <div class="pull-left words">
          <h3 class="title">恭喜您，您的订单提交成功！</h3>
          <p>您可以到个人中心中查看订单详情与进度</p>
          <ul class="back clearfix">
            <li class='pull-left'>
              <%= link_to "返回首页", '/', :title => "返回首页" %>
            </li>
            <li class='pull-left right'>
              <%= link_to "个人中心", '/users/orders', :title => "个人中心" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
