<div class="select-city">
	<% @cities.each do |city| %>
	  <div class="city clearfix" >
        <%#= link_to city["name"], auto_series_orders_path(id: brand['_id'], act: params[:act]) %>
	  </div>
	<% end %>
</div>