<%= content_for :assets do %>
  <%= stylesheet_link_tag    'activity/thousand_special_right', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<div class="thousand_special_right" id="thousand_special_right">
  <%= image_tag("activity/thousand/bac.jpg",width: '100%') %>
  <a id="next_step" href="http://www.kalading.com/orders/select_car_item?act=81&type=pm25">立即预约</a>
</div>
