<%= content_for :assets do %>
  <%= stylesheet_link_tag    'activity/thousand_special_right', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<div class="thousand_special_right" id="thousand_special_right">
  <%= image_tag("activity/thousand/bg.png",width: '100%') %>
  <%= image_tag("activity/thousand/ribbon.png",width: '100%',class: 'ribbon')  %>
  <div class="con">
    <a id="next_step" href="http://www.kalading.com/orders/select_car_item?act=81&type=pm25">立即预约</a>
    <h4>活动内容</h4>
    <p>贺卡拉丁完成千万美元融资，送出1000个No霾inCar车贴 9块9更换防霾滤芯，晒单赢取卡粉尊贵特权！</p>
    <h4>活动规则</h4>
    <p>1.本次活动将为1000个支付9块9更换卡拉丁空调滤芯的车主送出1000个NO霾IN CAR车贴，送完即止 </p>
    <p>2.拥有NO霾IN CAR车贴的车主将享有每年三次免费更换防霾滤芯，仅需首次更换滤芯支付9块9，不会产生额外费用 </p>
    <p>3.获得车贴仅通过此活动连接或活动二维码下单有效 </p>
    <p>4.已经贴有NO霾IN CAR车贴的车主无需参加此活动，直接通过官网预约即可 5.本次活动最终解释权归卡拉丁所有 </p>
</p>
  </div>
</div>
