@import "compass";
$main-orange: #e94609;

nav{

  &.toggle{
    background: rgba(255, 255, 255, 0.95);
    @include transition(background-color .5s ease-in-out);
  }

  position: relative;
  z-index: 2;
  @include transition(background-color .5s ease-in-out);

  font-size: 14px;
  font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体";
  overflow-x: hidden;

  p{
    margin: 0;
    padding: 0;
  }

  li{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .kld-header-sub{
    z-index: 100;
    // display: block;
    display: none;
    width: 100%;

    height: 134px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;

    .kld-header-wrap-sub{
      width: 1080px;
      margin: 0 auto;

      .kld-header-sub-products{
        overflow: hidden;

        .kld-header-sub-product {
          display: inline;
          float: left;
          text-align: center;
          padding: 0;

          a{
            display: block;
            padding: 0 11px 7px;
            @include transition(opacity .5s ease-in-out);

            .kld-header-sub-img{
              height: 80px;
              padding: 10px;
              img{
                height: 80px;
              }
            }

            p.meizu-header-sub-desc{
              color: #515151;
              padding-bottom: 11px;
            }
          }


          a:hover{
            color: #31a5e7;
          }
        }
      }
    }

    a{
      color: #fff;
      text-decoration: none;
    }
  }

  .kld-header{

    a{
      color: #fff;
      text-decoration: none;
    }

    #carousel-example-generic{
      img{
        width: 100%;
      }
    }


    .kld-header-wrap{
      position: absolute;
      top: 0;
      width: 100%;
      margin: 0 auto;
      padding: 0 5%;
      overflow: hidden;
      color: #fff;
  
      .kld-header-logo,.kld-header-log,.kld-header-link{
        float: left;
      }

      .kld-header-logo{
        width: 35%;
        margin: 20px 0;
        .kld-header-logo-img,.kld-header-logo-slogan{
          float: left;
        }
        .kld-header-logo-img{
            width: 145px;
            margin-right: 25px;
            background-repeat: no-repeat;
            background-position: right center;
            background-image: image-url('new-index/line.png');
        }
        .kld-header-logo-slogan{
          width: 25%;
          font-size: 12px;
        }
        .address{
          margin: 14px 0;
        }
      }

      .kld-header-link{
        width: 60%;
        a{
          display: block;
          padding: 31px 22px 30px 22px;
          &:hover{
            color: $main-orange;
          }
        }
      }

      .kld-header-log{
        margin: 35px 0;
      }
    }

    ul, li{
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li{
      display: inline;
      float: left;
    }
  }
}

.new-index{
  position: relative;
  padding: 0 8%;
  .wrench{
    position: absolute;
    top: -60px;
    z-index: 999;
  }
  .con{
    width: 78%;
    margin-left: 22%;
    .product,.activity,.service{
      padding: 20px 0;
      .tit{
        color: #8f8f8f;
      }
    }
    .product,.activity{
      border-bottom: 1px solid #ccc;
      color: $main-orange;
      ul{
        margin-top: 20px;
        li{
          float: left;
        }
      }
    }
    .product{
      .tit{
        .rank{
          display: none;
        }
      } 
      ul{
        li{
            position: relative;
            width: 20%;
            min-width: 140px;
            margin-top: 20px;
          .key{
            position: absolute;
            top: -30px;
            padding: 0 12px;
            margin: 0;
            font-size: 24px;
            font-weight: bold;
          }
          .pic2{
            padding-top: 10px;
          }
          p{
            margin: 0;
          }
        }
        .special{
          text-align: center;
          .customer-num{
            margin-bottom: 10px;
          }
          .rank{
            font-size: 20px;
          }
          .num{
            font-size: 30px;
          }
        }
      }
    }
    .activity{
      ul{
        li{
          width: 22%;
          margin-right: 4%;
          border-radius: 4px;
          background: #ccc;
          text-align: center;
          &:last-child{
            margin: 0;
          }
          p{
            margin: 0;
            padding: 6px 0;
            border-radius: 0 0 4px 4px;
            background: #b4b4b4;
            color: #fff;
            &:hover{
              background: #e77449;
              cursor: pointer;
              cursor: hand;
            }
          }
        }
      }
    }
    .service{
      color: #666666;
      ul{
        float: left;
        width: 25%;
      }
      .tit{
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}


@media screen and (max-width: 1070px){
  .new-index{
    .con{
      margin-left: 25%;
      .product{
        ul{
          li{
            width: 25%;
          }
          .special{
            display: none;
          }
        }
        .tit{
          overflow: hidden;
          span,p{
            float: left;
          }
          p{
            margin-left: 15%;
          }
          .rank{
            display: block;
            margin-bottom: 0;
            line-height: 30px;
            font-size: 16px;
            color: $main-orange;
          }
          .num{
            font-size: 26px;
          }
        } 
      } 
    } 
  } 

}

