@import "compass";

nav{

  &.toggle{
    background: rgba(255, 255, 255, 0.95);
    @include transition(background-color .5s ease-in-out);
  }

  position: relative;
  z-index: 2;
  @include transition(background-color .5s ease-in-out);

  font-size: 14px;
  font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体";
  overflow-x: hidden;

  p{
    margin: 0;
    padding: 0;
  }

  li{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .kld-header-sub{
    z-index: 100;
    // display: block;
    display: none;
    width: 100%;

    height: 134px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;

    .kld-header-wrap-sub{
      width: 1080px;
      margin: 0 auto;

      .kld-header-sub-products{
        overflow: hidden;

        .kld-header-sub-product {
          display: inline;
          float: left;
          text-align: center;
          padding: 0;

          a{
            display: block;
            padding: 0 11px 7px;
            @include transition(opacity .5s ease-in-out);

            .kld-header-sub-img{
              height: 80px;
              padding: 10px;
              img{
                height: 80px;
              }
            }

            p.meizu-header-sub-desc{
              color: #515151;
              padding-bottom: 11px;
            }
          }


          a:hover{
            color: #31a5e7;
          }
        }
      }
    }

    a{
      color: #fff;
      text-decoration: none;
    }
  }

  .kld-header{

    a{
      color: #fff;
      text-decoration: none;
    }

    .kld-header-wrap{

      width: 1040px;
      margin: 0 auto;
      padding: 0 20px;
      overflow: hidden;

      .kld-header-logo{
        display: inline;
        float: left;
        padding: 30px 0;

        .kld-header-logo-img{
          display: block;
          width: 114px;
          height: 20px;
          background-repeat: no-repeat;
          background-position: center center;
          background-image: image-url('logo1.png');
        }
      }

      .kld-header-log{
        display: inline;
        float: right;
        padding: 32px 0 0 30px;
        text-align: right;
        font-size: 12px;
      }

      .kld-header-link{
        display: inline;
        float: right;
        overflow: hidden;

        a{
          display: block;
          padding: 31px 22px 30px 22px;
        }
      }
    }

    ul, li{
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li{
      display: inline;
      float: left;
    }
  }
}
