<div class="share-weixin">
  <p class="share-title">提交成功</p>
  <p>点击右上角的按钮，即可：</p>
  <p>
    <span>分享给朋友</span>
    <%= image_tag("activity/share.png",width:"5%", class: "star ") %>
    <span>分享到朋友圈</span>
    <%= image_tag("activity/group.png",width:"5%", class: "star ") %>
  </p>
</div>
