<div class="container">
  <h1>
    <%= resource.title %>
  </h1>

  <div class="tags">
    <% resource.tag_list.each do |tag| %>
      <%= tag %> |
    <% end %>
  </div>

  <div class="content">
    <%= sanitize resource.content %>
  </div>

  <div class="edit-btn">
    <%= link_to 'Edit', edit_admin_post_path(resource) %>
  </div>
</div>
