@import "activity/activity";
body{
  background: #ffc122;
}
@keyframes translate-car-animate{
  0%{transform:translateY(-2px);}
  50%{transform:translateY(2px);}
  100%{transform:translateY(-2px);}
}
@-webkit-keyframes translate-car-animate{
  0%{-webkit-transform:translateY(-2px);}
  50%{-webkit-transform:translateY(2px);}
  100%{-webkit-transform:translateY(-2px);}
}
@keyframes translate-money-animate{
  0%{transform:translateX(-2px);}
  50%{transform:translateX(2px);}
  100%{transform:translateX(-2px);}
}
@-webkit-keyframes translate-money-animate{
  0%{-webkit-transform:translateX(-2px);}
  50%{-webkit-transform:translateX(2px);}
  100%{-webkit-transform:translateX(-2px);}
}
@keyframes translate-moveleft{
  0%{transform:translateX(300px);}
  100%{transform:translateX(0px);}
}
@-webkit-keyframes translate-moveleft{
  0%{-webkit-transform:translateX(300px);}
  100%{-webkit-transform:translateX(0px);}
}
@keyframes translate-moveright{
  0%{transform:translateX(-300px);}
  100%{transform:translateX(0px);}
}
@-webkit-keyframes translate-moveright{
  0%{-webkit-transform:translateX(-300px);}
  100%{-webkit-transform:translateX(0px);}
}
.orange{
	height: 32px;
	line-height: 30px;
	background: #ea6f45;
	border: 0;
	border-radius: 3px;
	box-shadow: 0 4px 0 #c85f3f;
	color: #fff;
}
.hidden{
	display: none;
}
.login-form{
	.form-tit{
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 234px;
		background-image: image-url("activity/papago/tit_bac.png"); 
		background-size: 100%;
		background-repeat: no-repeat;
		.title1{
			position: absolute;
			left: 100%;
		}
		.title2{
			position: absolute;
			left: -100%;
			top: 90px;
		}
	} 
	.form-con{
		width: 100%;
		height: 270px;
		background: #ffc122;
		.field{
			overflow: hidden;
			width: 80%;
			height: 40px;
			margin: 5px auto;
		}
		.phone_num{
			margin-bottom: 10px;
			height: 35px;
			line-height: 30px;
		}
		.verification_code,.get_code{
			float: left;
		}
		.verification_code{
			width: 45%;
			height: 37px;
			margin-right: 5%;
		}
		.get_code{
			width: 50%;
		}
		.next_button{
			width: 100%;
		}
	}
	.discount-con{
		position: relative;
		width: 100%;
		background: #ffc122;
		.use_button{
			position: absolute;
			top: 74px;
			left: 30%;
			width: 40%;
			height: 35px;
			border: 0;
			background: #ff9d1e;
			box-shadow: 0 4px 0 #d8871b;
			color: #fff;
		}
		.money{
			position: absolute;
			top: -30px;
			left: 0;
		}
		.translate-money{
			animation:translate-money-animate 1s linear infinite;
			-webkit-animation:translate-money-animate 1s linear infinite;
		}
		.packet{
			margin-top: 130px;
		}
	}
}
.bac{
	position: fixed;
	top: 0;
	width: 100%;
	background: #000;
	opacity: 0.6;
}
.active,.rule{
	position: relative;
}
.active_tit1,.rule_tit1{
	position: absolute;
	top: 0;
}
.translate-car{
	animation:translate-car-animate 1s linear infinite;
	-webkit-animation:translate-car-animate 1s linear infinite;
}
.active_con,.rule_con{
	line-height: 25px;
	font-size: 16px;
	color: #fff;
	p{
		margin: 0 auto;
	}
}
.active{
	background: #ffc122;
	.active_con{
		height: 200px;
		background: #96cb3b;
		p{
			width: 92%;
		}
	}
}
.rule{
	background: #96cb3b;
	.rule_con{
		background: #2eb6aa;
		padding-bottom: 30px;
		p{
			width: 86%;	
		}
		.marklogo{
			position: absolute;
			bottom: 0;
		}
	}
}
.msg{
	position: fixed;
	top: 12%;
	left: 8%;
	width: 84%;
	border-radius: 5px;
	padding: 0 7% 7%;
	background: #fff;
	color: #5c5c5c;
	.title{
		text-align: center;
		color: #ea6f45;
	}
	.share_button{
		width: 100%;
	}
	.closebtn{
		position: fixed;
		right: 5%;
		top: 10%;
	}
}
@media screen and (min-device-width: 360px){
.login-form{
	.form-tit{
		height: 260px;
		.title2{
			top: 100px;
		}
	}
}
}
@media screen and (min-device-width: 375px){
.login-form{
	.form-tit{
		height: 270px;
		.title2{
			top: 110px;
		}
	}
}
}
@media screen and (min-device-width: 414px){
.login-form{
	.form-tit{
		height: 300px;
		.title2{
			top: 120px;
		}
	}
	.form-con{
		height: 290px;
	}
}
}
@media screen and (min-device-width: 480px){
.login-form{
	.form-tit{
		height: 350px;
		.title2{
			top: 140px;
		}
	}
	.form-con{
		height: 315px;
	}
}
}
@media screen and (min-device-width: 540px){
.login-form{
	.form-tit{
		height: 395px;
		.title2{
			top: 155px;
		}
	}
	.form-con{
		height: 330px;
	}
}
}
@media screen and (min-device-width: 720px){
.login-form{
	.form-tit{
		height: 527px;
		.title2{
			top: 200px;
		}
	}
	.form-con{
		height: 400px;
	}
}
}
@media screen and (min-device-width: 960px){
.login-form{
	.form-tit{
		height: 700px;
		.title2{
			top: 280px;
		}
	}
	.form-con{
		height: 500px;
	}
}
}
@media screen and (min-device-width: 1024px){
.login-form{
	.form-tit{
		height: 750px;
		.title2{
			top: 290px;
		}
	}
	.form-con{
		height: 500px;
	}
}
}

@media screen and (min-device-width: 1280px){
.login-form{
	.form-tit{
		height: 935px;
		.title2{
			top: 355px;
		}
	}
	.form-con{
		height: 600px;
	}
}
}
