@import "activity/activity";
body{
  background: #2bc089;
}
@keyframes translate-ball-animate{
  0%{transform:translateY(-2px);}
  50%{transform:translateY(2px);}
  100%{transform:translateY(-2px);}
}
@-webkit-keyframes translate-ball-animate{
  0%{-webkit-transform:translateY(-2px);}
  50%{-webkit-transform:translateY(2px);}
  100%{-webkit-transform:translateY(-2px);}
}
@keyframes translate-cloud-animate{
  0%{transform:translateX(-2px);}
  50%{transform:translateX(2px);}
  100%{transform:translateX(-2px);}
}
@-webkit-keyframes translate-cloud-animate{
  0%{-webkit-transform:translateX(-2px);}
  50%{-webkit-transform:translateX(2px);}
  100%{-webkit-transform:translateX(-2px);}
}
@keyframes translate-chat-animate{
  0%{
  	transform:translateX(-2px);
  	transform:translateY(2px);
  }
  50%{
  	transform:translateX(2px);
  	transform:translateY(-2px);
  }
  100%{
  	transform:translateX(-2px);
  	transform:translateY(2px);
  }
}
@-webkit-keyframes translate-chat-animate{
  0%{
  	-webkit-transform:translateX(-2px);
  	-webkit-transform:translateY(2px);
  }
  50%{
  	-webkit-transform:translateX(2px);
  	-webkit-transform:translateY(-2px);
  }
  100%{
  	-webkit-transform:translateX(-2px);
  	-webkit-transform:translateY(2px);
  }
}
@keyframes translate-moveleft{
  0%{transform:translateX(300px);}
  100%{transform:translateX(0px);}
}
@-webkit-keyframes translate-moveleft{
  0%{-webkit-transform:translateX(300px);}
  100%{-webkit-transform:translateX(0px);}
}
@keyframes translate-moveright{
  0%{transform:translateX(-300px);}
  100%{transform:translateX(0px);}
}
@-webkit-keyframes translate-moveright{
  0%{-webkit-transform:translateX(-300px);}
  100%{-webkit-transform:translateX(0px);}
}
.orange{
	height: 32px;
	line-height: 30px;
	background: #ea6f45;
	border: 0;
	border-radius: 3px;
	box-shadow: 0 4px 0 #c85f3f;
	color: #fff;
}
.hidden{
	display: none;
}
.login-form{
	.form-tit{
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 315px;
		background: #2bc089;
		.cloud1,.cloud2,.ball,.spring,.price{
			position: absolute;
		}
		.cloud1,.cloud2,.ball{
			width: 10%;
		}
		.cloud1{
			top: 20px;
			right: 100px;
		}
		.cloud2{
			top: 50px;
			right: 50px;
		}
		.ball{
			top: 26px;
			right: 75px;
		}
		.chat{
			width: 30%;
			position: absolute;
			top: 15px;
			left: 15px;
		}
		.translate-cloud1{
			animation:translate-cloud-animate 2s linear infinite;
			-webkit-animation:translate-cloud-animate 2s linear infinite;
		}
		.translate-cloud2{
			animation:translate-cloud-animate 2s linear infinite 0.5s;
			-webkit-animation:translate-cloud-animate 2s linear infinite 0.5s;
		}
		.translate-ball{
			animation:translate-ball-animate 2s linear infinite;
			-webkit-animation:translate-ball-animate 2s linear infinite;
		}
		.translate-chat{
			animation:translate-chat-animate 1s linear infinite;
			-webkit-animation:translate-chat-animate 1s linear infinite;
		}

		.title1{
			position: absolute;
			left: 100%;
      		top: 100px;
		}
		.title2{
			position: absolute;
			left: -100%;
      		top: 170px;
		}
		.spring{
			top: 27%;
			right: 45px;
			width: 30%;
		}
		.price{
			top: 84%;
			left: 40px;
			width: 40%;
		}
	}
}

.active{
	position: relative;
	height: 268px;
	background-image: image-url('activity/papago/foot.png');
	background-repeat: no-repeat;
	background-size: 100%;
	.rule{
		position: absolute;
		top: 30%;
		left: 15%;
		width: 125px;
		color: #fff768;
	}
	.active_btn{
		position: absolute;
		top: 50%;
		left: 15%;
		margin: 0;
		border-radius: 5px;
		width: 70%;
		line-height: 50px;
		background: #fff768;
		text-align: center;	
		font-size: 16px;
		color: #598837;
	}
}
@media screen and (min-device-width: 360px){
.login-form{
	.form-tit{
		height: 260px;
		.title2{
      top: 50px;
		}
	}
}
}
@media screen and (min-device-width: 375px){
.login-form{
	.form-tit{
		height: 270px;
		.title2{
			top: 50px;
		}
	}
}
}
@media screen and (min-device-width: 400px){
.login-form{
	.form-tit{
		height: 300px;
		.title2{
			top: 50px;
		}
	}
	.form-con{
		height: 290px;
	}
}
}
@media screen and (device-width: 480px){
.login-form{
	.form-tit{
		height: 400px;
		.title2{
			top: 50px;
		}
	}
	.form-con{
		height: 330px;
	}
}
}
@media screen and (device-width: 540px){
.login-form{
	.form-tit{
		height: 400px;
		.title2{
			top: 50px;
		}
	}
	.form-con{
		height: 330px;
	}
}
}
@media screen and(min-device-width: 960px) and(max-device-width: 1024px){
.login-form{
	.form-tit{
		height: 740px;
		.title2{
			top: 50px;
		}
	}
	.form-con{
		height: 500px;
	}
}
}
@media screen and (device-width: 1280px){
.login-form{
	.form-tit{
		height: 930px;
		.title2{
			top: 50px;
		}
	}
	.form-con{
		height: 580px;
	}
}
}
