<div class="col-md-3">
  <ul class='menu'>
    <% @tag_list.each do |tag| %>
      <li class='<%= @tag == tag ? "active" : '' %>'>
        <%= link_to tag.name, list_posts_path(tag_id: tag.id) %>
      </li>
    <% end %>
  </ul>
</div>
