<%= title @post.title %>

<div class="container user-info posts">

  <div class="row">
    <div class="col-md-12 title">
      用车知识
    </div>
  </div>

  <div class="row">
    <%= render "menu" %>
    <div class="col-md-9 content">
      <%= render "post_content" %>
    </div>
  </div>
</div>
