<% title @title %>
<div class="container user-info posts">

  <div class="row">
    <div class="col-md-12 title">
      <%= @root_tag %>
    </div>
  </div>

  <div class="row">

    <%= render "menu" %>

      <% if @posts.count == 1 %>
        <div class="col-md-9 content">
          <%= render "post_content", post: @posts.first %>
        </div>
      <% else %>
        <div class="col-md-9 lists">
          <%= render "posts_list", posts: @posts %>
        </div>
      <% end %>
  </div>
</div>
