<% title @title %>
  <%#= @root_tag %>
  <%#= render "menu" %>
  <!-- <div class="container">
    <ul>
      <%#= render "posts_list", posts: @posts %>
    </ul>
  </div> -->
  <%# end %>

<div class="know special">
  <div class="main clearfix">
    <%= render "menu" %>

    <div class="cont">
      <% if params[:action] == 'posts_list' %>
        <div class="top wait clearfix">
          <a href="javascript:history.go(-1);"><<返回</a>
        </div>
        <ul class="con clearfix">
          <% @posts.each do |post| %>
            <li class="item pull-left">
              <%= link_to post.title, slug_posts_path(tag_id: 15, slug: post.slug) %>
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if params[:action] == 'show' %>
        <% @posts.each do |post| %>
          <div class="top wait clearfix">
            <a href="javascript:history.go(-1);"><<返回</a>
          </div>
          <div class="detail">
            <h4 class="title">
              <%= post.title %>
            </h4>
            <div class="article">
              <%= strip_tags(post.content) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
>>>>>>> b095e9a1a8de872d48e813d8170d032cef7376fc
  </div>
</div>


