@import "mixins/button";
$bac-orange: #ff9934;
$border-orange: #ef7337;
$font-gray: #dedede;
$font-orange: #ff7b3a;
$title: #3d3d3d;
$bac: #fbfbfb;
.bac-orange{
  background: $bac-orange;
}
.bac-white{
  background: #fff;
}
.font-white{
  color: #fff;
}
.index{
	position: relative;
	min-width: 1400px;
	.slide{
		img{
			width: 100%;
		}
	}
	.select-car{
    	background: white;
		position: absolute;
		top: 3%;
		right: 18%;
		@include box-sizing(border-box);
		width: 267px;
		padding: 15px 0;
		opacity: 0.9;
		border-radius: 4px;
		text-align: center;
		.btn{
			width: 90px;
			margin: 10px 0;
      @include button;
      padding: 0;
      line-height: 35px;
      height: 38px;
		}
		.form-group{
			margin: 25px 0;
		}
		.form-bac{
			opacity: 0.5;
			width: 100%;
			height: 100%;
			border-radius: 5px;
		}
		.form-con{
			position: absolute;
			top: 0;
			width: 100%;
			padding: 20px 3%;
		}
		input,button{
			// height: 34px;
			// line-height: 32px;
			// margin-bottom: 15px;
			// border: 0;
			// border-radius: 5px;
			outline:none;
		}
		.login-title{
			margin-bottom: 24px;
			padding-bottom: 20px;
			color: #666666;
			border-bottom: 1px solid #fff;
			font-size: 22px;
			font-weight: 600;
		}
		.phone_num,.verification_code,.get_code{
			font-size: 16px;
		}
		.phone_num{
			width: 100%;
		}
		.phone_num,.verification_code{
			padding-left: 10px;
		}
		.field{
			overflow: hidden;
			width: 84%;
			margin: 0 auto;
		}
		.verification_code,.get_code{
			float: left;
			width: 48%;
		}
		.verification_code{
			margin-right: 8px;
		}
		.submit_button{
			width: 98%;
			margin: 0 auto;
			margin-top: 14%;
			font-size: 18px;
		}
	}
	.product,.maintain-process,.guest,.menu{
		min-width: 1140px;
	}
	.product,.maintain-process,.guest{
		padding: 45px 0;
		border-bottom: 2px solid #e4e4e4;
		.title{
			margin: 0 0 40px;
			text-align: center;
			color: $title;
			font-size: 28px;
		}
		.content{
			overflow: hidden;
			padding: 0 10%;
		}
	}
	.product{
		background: $bac;
		.maintain-item{
			dl{
				position: relative;
				@include box-sizing(border-box);
				float: left;
				width: 30%;
				max-height: 342px;
				margin: 0 5% 0 0;
				overflow: hidden;
				&:last-child{
					margin-right: 0;
				}
				dt{
					overflow: hidden;
					height: 342px;
					img{
						width: 100%;
					}
					.filter{
						@include filter(blur(3px));
					}
				}
				.bac{
					position: absolute;
					top: 270px;
					width: 100%;
					height: 100%;
					background: #000;
					opacity: 0.4;
				}
				.con{
					position: absolute;
					bottom: -70px;
					width: 100%;
					overflow: hidden;
					padding: 4px 30px 20px;
					text-align: center;
					color: #fff;
					cursor: pointer;
					cursor: hand;
					.item-title{
						line-height: 35px;
						font-size: 18px;
					}
					.description{
						display: block;
						font-size: 14px;
						opacity: 0.8
					}
					.order-btn{
						width: 106px;
						height: 35px;
						line-height: 30px;
						margin-top: 20px;
						border: 1px solid #fff;
						border-radius: 4px;
						background: none;
						text-align: center;
						text-decoration: none;
						color: #fff;
					}
				}
				.showbac{
					top: 0;
					.item-title{
						margin-top: 35%;
					}
				}
				.showcon{
					bottom: 28%;
				}
			}
		}
	}
	.maintain-process{
		.number{
			line-height: 60px;
			li{
				float: left;
				width: 24%;
				span,var{
					float: left;
					background: #ccc;
				}
				span{
					width: 28%;
					margin: 0 5%;
					border-radius: 30px;
					color: #fff;
					text-align: center;
					font-size: 22px;
				}
				var{
					width: 58%;
					height: 2px;
					margin-top: 14%;
				}
			}
			.last{
				width: 8%;
				span{
					width: 80%;
				}
			}
			.shot{
				width: 10%;
				span{
					width: 10px;
					height: 10px;
					padding: 10px;
					margin: 24% 8% 0;
				}
				var{
					width: 54%;
					margin-top: 34%;
				}
			}
		}
		.item{
			overflow: hidden;
			width: 74%;
			margin: 0 auto;
			li{
				float: left;
				width: 22%;
				margin-right: 4%;
				text-align: center;
				font-size: 16px;
				&:last-child{
					margin: 0;
				}
				h4{
					margin: 25px 0;
					color: #666666;
					font-size: 18px;
				}
				span{
					color: #888888;
				}
			}
		}
	}
	.menu{
		overflow: hidden;
		padding: 0 10%;
		border-bottom: 2px solid #e4e4e4;
		li{
			position: relative;
			float: left;
			width: 33%;
			min-width: 170px;
			height: 200px;
			margin: 60px 0;
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: 50%;
			font-size: 22px;
			color: #8a8a8a;
			text-align: center;
			a{
				display: block;
				width: 100%;
				color: #666666;
				text-decoration: none;
			}
		}
	}
	.guest{
		border-bottom: 0;
		ul{
			li{
				float: left;
				width: 20%;
				text-align: center;
			}
		}
	}
}
.home-phone{
  .personal-maintain{
  	overflow: hidden;
  	color: #676767;
  	.personal{
	  	overflow: hidden;
	  	float: left;
	  	width: 60%;
		margin: 10px 0;
	  	text-align: center;
	  	li{
	  		float: left;
			width: 50%;
			&:nth-child(1){
				border-right: 1px solid #ccc;
			}
			a{
				color: #676767;
			}
	  	}
	  }
	.maintain-address{
		float: left;
		width: 40%;
		margin: 10px 0;
		text-align: center;
		border-left: 1px solid #ccc;
	}
  }
  .promise{
    padding: 10px 0;
    margin: 0;
    background: #fff;
    .pros{
      overflow: hidden;
    }
    h3{
      text-align: center;
      font-size: 18px;
    }
    dt{
      font-size: 18px;
    }
    dd{
      text-align: center;
      &:nth-child(even){
        float: left;
        margin: 4px 2px 0;
      }
    }
    .des{
      clear: both;
      font-size: 12px;
      color: #888;
    }
  }
  .orange{
  	color: #eb7400;
  }
  .order_button{
  	display: block;
	width: 180px;
	margin: 0 auto;
	line-height: 25px;
	background: #ee7700;
	color: #fff;
	border: 0;
  }
  .maintain-intro{
  	background: #fff;
  	.title-photo{
  		margin-top: 15px;
  	}
  	img{
  		width: 100%;
  	}
  }
  .service-module,.tec-team,.service-address,.service-process,.others{
    margin: 10px 0;
    line-height: 25px;
    font-size: 12px;
    .title{
      margin-bottom: 10px;
      font-size: 16px;
      color: #fff;
      border-bottom: 2px solid #fcd23e; 
  	  span{
  	  	padding: 5px;
  	  	background: #f57921;
  	  }
    }
    .point{
		float: left;
		width: 10px;
		height: 10px;
		margin: 6px 10px;
		border-radius: 5px;
		background: #f57921;
		border: 2px solid #fff;
		box-shadow: 1px 1px 1px #f57921;
    }
    .point1{
		float: left;
		width: 6px;
		height: 6px;
		margin: 10px 12px;
		border-radius: 3px;
		background: #f57921;
    }
    .con{
    	float: left;
    	width: 89%;
    }
    ul{
    	margin-left: 0;
    	li{
    		overflow: hidden;
    	}
    }
    p{
    	text-indent: 2em;
    }
  }
  .showimg{
    padding: 20px;
    li{
      margin-bottom: 10px;
      &:last-child{
        margin: 0;
      }
    }
  }
  .tec-team{
  	.img-item{
  		padding: 20px 0;
  	}
  }
  .service-address{
  	p{
  		text-indent: 0;
  		padding-left: 30px;
  	}
  }
  .others{
  	.img-item{
  		text-align: center;
  	}
  	img{
  		width: 70%;
  		margin: 10px 0;
  	}
  }
  #totop{
  	display: none;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}
