// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bac-orange: #ff9934;
$border-orange: #ef7337;
$font-gray: #dedede;
$font-orange: #ff7b3a;
.main{
	padding: 0 15%;
	font-family: AdobeHeitiStd-Regular;
	li{

		list-style: none;
	}
	.bac-orange{
		background: $bac-orange;
	}
	.bac-white{
		background: #fff;
	}
	.font-white{
		color: #fff;
	}
	.process{
		overflow: hidden;
		padding: 0;
		text-align: center;
		li{
			float: left;
			min-width: 25%;
			margin: 60px 0;
			height: 40px;
			line-height: 40px;
			font-size: 20px;
			color: #666666;
			background-repeat: no-repeat;
			background-position: 25px 3px;
			background-size: 15%;
		}
		.car-type{
			background-image: url("car.png");
		}
		.car-type.selected{
			background-image: url("car-selected.png");
		}
		.service{
			background-image: url("service.png");
		}
		.service.selected{
			background-image: url("service-selected.png");
		}
		.info{
			background-image: url("info.png");
		}
		.info.selected{
			background-image: url("info-selected.png");
		}
		.success{
			background-image: url("success.png");
		}
		.success.selected{
			background-image: url("success-selected.png");
		}
	}
}
.index{
	position: relative;
	.flexslider{
		overflow: hidden;
		margin: 26px 0 14px;
		min-height: 360px;
		background: #ccc; 
	}
	.login-form{
		position: absolute;
		top: 5%;
		right: 18%;
		@include box-sizing(border-box);
		width: 267px;
		height: 306px;
		min-height: 40%;
		text-align: center;
		.form-bac{
			opacity: 0.5;
			width: 100%;
			height: 100%;
			border-radius: 5px;
		}
		.form-con{
			position: absolute;
			top: 0;
			width: 100%;
			padding: 10% 3%;
		}
		input,button{
			height: 34px;
			line-height: 34px;
			margin-bottom: 15px;
			border: 0;
			border-radius: 5px;
			outline:none;
		}
		.login-title{
			margin-bottom: 24px;
			padding-bottom: 20px;
			color: #ff9938;
			border-bottom: 1px solid #fff;
			font-size: 22px;
		}
		.phone_num{
			width: 100%;
		}
		.phone_num,.verification_code{
			padding-left: 10px;
			color: $font-gray;
		}
		.field{
			overflow: hidden;
			width: 84%;
			margin: 0 auto;
		}
		.verification_code,.get_code{
			float: left;
			width: 48%;
		}
		.verification_code{
			margin-right: 8px;
		}
		.submit_button{
			width: 98%;
			margin: 0 auto;
			margin-top: 14%;
		}
	}
	.maintain-item{
		overflow: hidden;
		dl{
			@include box-sizing(border-box);
			float: left;
			width: 48%;
			margin: 0;
			&:nth-child(odd){
				margin-right: 14px;
			}
			dt{
				overflow: hidden;
				height: 204px;
				border-radius: 5px 5px 0 0;
			}
			dd{
				overflow: hidden;
				background: #ede8e4;
				padding: 4px 30px 20px;
				border-radius: 0 0 5px 5px;
				.title{
					color: #62615f;
					line-height: 45px;
				}
				.description{
					font-size: 16px;
					color: #999999;
				}
				button{
					float: right;
					width: 160px;
					height: 40px;
					line-height: 40px;
					border: 0;
					border-radius: 5px;
				}
			}
		}
	}
}
.select-car-page{
	background: #f7f7f7;
	.select-item{
		overflow: hidden;
		border: 1px solid #ccc;
		.select-car,.quick-select{
			float: left;
			width: 50%;
			margin: 28px 0;
			padding: 0 5%;
			h4{
				text-align: center;
				margin: 30px 0;
			}			
			.search_button{
				width: 130px;
				height: 40px;
				line-height: 40px;
				margin-left: 70px;
				border: 0;
				text-align: center;
			}
			.more{
				padding: 5px;
				text-decoration: underline;
				color: #4c4c4c;
				font-size: 14px;
			}
		}
		.select-car{
			border-right: 1px solid #ccc;
			.field{
				overflow: hidden;
				margin-bottom: 30px;
				line-height: 18px;
				label,select{
					float: left;
				}
				label{
					min-width: 70px;
					font-size: 18px;
				}
				.search_button{
					margin: 30px auto;
				}
			}
		}
		.quick-select{
			.my-car{
				width: 260px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				background: #e1e1e1;
				margin: 0 auto;
				margin-bottom: 30px;
				color: #fff;
				&:after{
					content:url("down.png");
					margin: 5px 10px;
					float: right;
				}
				input{
					float: left;
					margin: 14px;
				}
			}
			.selected{
				background: #ffd4a9;
			}
			.search_button{
				margin-left: 50%;
			}
		}
	}
	.comment{
		.comment-title{
			font-size: 18px;
			line-height: 40px;
			padding-left: 40px;
			margin: 90px 20px 30px;
			background-image: url("comment.png");
			background-repeat: no-repeat;
		}
		.comment-con{
			height: 300px;
		}
	}
}
.items-select-page{
	.orders{
		padding: 0 20px;
		border: 1px solid #ccc;
		ul{
			overflow: hidden;
			border-bottom: 1px solid $border-orange;
			li{
				float: left;
				margin: 0 20px;
				padding: 20px 0;
				color: #999999;
				font-size: 20px;
			}
			.selected{
				color: $font-orange;
				border-bottom: 2px solid $font-orange;
			}
		}
		.maintain-con{
			h4{
				line-height: 70px;
			}
			.item-list{
				overflow: hidden;
				line-height: 40px;
				label{
					color: #606060;
					float: left;
				}
				.price,.now{
					font-size: 28px;
					color: #ef4f24;
				}
				.original{
					margin-left: 20px;
					text-decoration: line-through;
					font-size: 16px;
					color: #e1e1e1;
				}
				.item-box{
					display: inline-block;
					.item{
						overflow: hidden;
						&:last-child{
							margin: 0;
						}
						label{
							width: 40px;
						}
						input{
							float: left;
							margin: 15px 10px 0 0;
						}
					}
				}
				.service-price{
					background: #fafafa;
					width: 360px;
					height: 40px;
					line-height: 40px;
					text-align: center;
					input{
						float: left;
						margin: 14px 2px;
					}
				}
			}
			#order_button{
				margin: 30px;
				width: 360px;
				border: 0;
			}
		}
	}
	.service{
		.service-title{
			font-size: 18px;
			line-height: 40px;
			padding-left: 40px;
			margin: 90px 20px 30px;
			background-image: url("service-intro.png");
			background-repeat: no-repeat;
		}
		.service-con{
			height: 300px;
			border: 1px solid #ccc;
		}
	}
}
.place-order-page{
	#item_table{
		width: 100%;
		border: 1px solid #ccc;
		th,td{
			width: 25%;
			height: 40px;
			text-align: center;
			color: #666666;
			border: 1px solid #ccc;
		}
		th{
			background: #f9f6f1;
		}
		td{
			line-height: 40px;
		}
		p{
			margin: 0;
		}
		.result{
			font-size: 24px;
			color: #ef4f24;
		}
	}
	.address,.comment-form{
		border: 1px solid #ccc;
		padding: 15px 5%;
	}
	.info-group{
		overflow: hidden;
		line-height: 40px;
		margin: 5px;
		.star{
			float: left;
			color: $font-orange;
			font-size: 20px;
		}
		.info-title{
			float: left;
			width: 130px;
			line-height: 35px;
			text-align: right;
		}
		.info-con{
			float: left;
			min-width: 150px;
			padding-left: 5px;
			input{
				line-height: 35px;
				padding: 0 10px;
				border: 0;
				background: #fafafa;
			}
			#address{
				width: 200px;
			}
			.verify{
				width: 100px;
				line-height: 30px;
				border: 0;
			}
			.verify-info{
				color: $font-orange;
			}
			.hidden{
				display: none;
			}
		}
	}
	.address{
		margin-top: 15px; 
		border-bottom: 0;
		.title{
			color: $font-orange;
			line-height: 40px;
		}
		.choice{
			overflow: hidden;
			color: #666666;
			.choice-title{
				line-height: 40px;
				padding-left: 40px;
				margin: 10px 0;
				background-image: url('address.png');
				background-repeat: no-repeat;
			}
			.address-item{
				float: left;
				position: relative;
				@include box-sizing(border-box);
				width: 30%;
				height: 100px;
				padding: 5px 10px 0;
				margin-right: 5%;
				border: 2px solid #f1f1f1;
				font-size: 16px;
				&:last-child{
					margin: 0;
				}
				&:hover{
					border-color: $border-orange;
				}
				dt,dd{
					line-height: 30px;
				}
				dt{
					border-bottom: 1px solid #f1f1f1;
				}
				.selected{
					position: absolute;
					right: 0;
					top: 54px;
				}
				.hidden{
					display: none;
				}
				.selected:before{
					content: url('selected.png');
				}
			}
			.selected-item{
				border-color: $border-orange;
			}
		}
		.more:after{
			content: url('more.png');
			line-height: 50px;
			margin: 10px;
		}
		.new{
			margin-top: 20px;
			.new-title{
				width: 150px;
				margin: 0;
				padding: 5px;
				background: #f0f0f0;
				text-align: center;
				color: #676767;
			}
			.new-con{
				width: 400px;
				padding: 10px;
				border: 1px solid #f1f1f1;
				.submit{
					display: block;
					height: 30px;
					line-height: 30px;
					width: 100px;
					border: 0;
					border-radius: 2px;
					margin: 10px auto;
				}
			}
		}
	}
	.comment-form{
		.order-info{
			line-height: 40px;
			padding-left: 40px;
			margin: 15px 0;
			background-image: url('order-info.png');
			background-repeat: no-repeat;
		}
		.submit-info{
			overflow: hidden;
			height: 40px;
			line-height: 40px;
			width: 100%;
			padding: 0 10px;
			margin: 20px 0;
			border-radius: 5px;
			.price,.submit{
				float: right;
			}
			.submit{
				border: 0;
				border-radius: 2px;
				height: 30px;
				line-height: 30px;
				width: 100px;
				margin: 5px;
				color: $font-orange;
			}
		}
	}
}