// libs

@import "compass";
@import "compass/reset";
@import "classic";
@import "classic.date";
@import "classic.time";

@import "bootstrap-sprockets";
@import "bootstrap";

$nprogress-color: #f57e56;
$nprogress-height: 2px;
$nprogress-zindex: 10100;

@import "nprogress";
@import "nprogress-bootstrap";

@import "new/home";
@import "new/orders";


a:link[title="站长统计"]{
  display: none;
}

body{
  // background: lightblue;
}

.hide {
  display: none;
}

#add_address_modal{
  .address-inputs{
    padding-top: 20px;
  }
  .add-address{
    padding-left: 10px;
  }
}
.tangram-suggestion-main{
  z-index: 2000;
}
