// libs

@import "compass";
@import "compass/reset";
@import "classic";
@import "classic.date";
@import "classic.time";
@import "mixins/button";

@import "demo";
@import "flexslider";

@import "bootstrap-sprockets";
@import "bootstrap";

$nprogress-color: #f57e56;
$nprogress-height: 2px;
$nprogress-zindex: 10100;

@import "nprogress";
@import "nprogress-bootstrap";

@import "new/home";
@import "new/orders";
@import "new/posts";
@import "static_pages";

a:link[title="站长统计"]{
  display: none;
}


body{
  // background: lightblue;
}
*{
	margin: 0;
	padding: 0;
}
.special{
  margin-top: -90px;
  padding-top: 140px;
}
nav{
  font-size: 14px;
  font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体";
  overflow-x: hidden;
  ul,p{
  	margin: 0;
  	padding: 0;
  }

  li{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a{
    text-decoration: none;
	&:hover{
		text-decoration: none;
	}
  }

  .kld-header{
    a{
      color: #fff;
    }
    ul, li{
      list-style: none;
    }
    li{
      float: left;
    }
    #slider1_container{
      position: relative;
      width: 980px;
      height: 430px;
      overflow: hidden;
      .content{
        // cursor: move;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 980px;
        height: 430px;
        overflow: hidden;
        img{
          width: 100%;
        }
      }
    }
    .toggle{
      background: #fff;
      color: #666666;
      a{
        color: #666666;
      }
      .kld-header-logo{
        color: #666666;
      }
    }
    .kld-header-wrap{
      position: absolute;
      top: 0;
      width: 100%;
      margin: 0 auto;
      padding: 0 5%;
      color: #fff;

      .kld-header-logo,.kld-header-log,.kld-header-link{
        float: left;
      }

      .kld-header-logo{
        width: 35%;
        margin: 25px 0;
        .kld-header-logo-img,.kld-header-logo-slogan{
          float: left;
        }
        .kld-header-logo-img{
            width: 145px;
            margin-right: 25px;
            background-repeat: no-repeat;
            background-position: right center;
            background-image: image-url('new-index/line.png');
        }
        .kld-header-logo-slogan{
          width: 25%;
          font-size: 12px;
        }
        .address{
          width: 100px;
          margin-left: 264px;
          margin-top: 12px;

        }
      }

      .kld-header-link{
        width: 60%;
        line-height: 30px;
        text-align: center;
        li{
          width: 14%;
        }
        a{
          display: block;
          padding: 30px 0;
        }
        .active,.selected{
          a{
            color: $main-orange;
          }
        }
  		  .sub,.sub2{
          overflow: hidden;
  		    position: absolute;
  		    top: 90px;
  		    left: 0;
  		    width: 100%;
          height: 0;
    			ul{
    				position: absolute;
  		  		li{
  			    	float: left;
  				    width: 125px;
    					margin: 0 10px;
              font-size: 12px;
    					text-align: center;
              a{
                color: $main-orange;
                padding: 0 10px;
              }
              img{
                width: 80%;
              }
              .customer-num{
                width: 35%;
              }
              .num{
                font-size: 14px;
                font-weight: bold;
              }
              .pic1{
                margin-top: 5px;
              }
              .pic2{
                margin-top: -5px;
              }
              p{
                line-height: 20px;
              }
              .key{
                margin-top: -10px;
              }
  			    }
    			}
    		}
        .sub{
          background: #fff;
          color: $main-orange;
          ul{
            top: 10px;
            min-width: 400px;
            margin-left: 38%;
            li{
              width: 100px;
            }
            .special{
              margin: 0;
              padding: 0;
            }
          }
        }
      }

      .kld-header-log{
        margin: 35px 0;
      }
    }
  }
}


.cb-slideshow,
.cb-slideshow:after {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 680px;
    overflow: hidden;
}
.cb-slideshow:after {
    content: '';
    background: transparent image-url('/assets/pattern.png') repeat top left;
}
.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h3 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    padding: 0;
    line-height: 200px;
  color: #e94609;
}



//  定義方法 animation-delay-n
@mixin animation-delay-n($n){
  -webkit-animation-delay:  #{$n*6}s;
  -moz-animation-delay: #{$n*6}s;
  -o-animation-delay: #{$n*6}s;
  -ms-animation-delay: #{$n*6}s;
  animation-delay: #{$n*6}s;
}
.cb-slideshow li:nth-child(1) span {
  background-image: image-url("new-index/banner1.jpg");
}
.cb-slideshow li:nth-child(2) span {
  background-image: image-url("new-index/banner2.jpg");
  @include animation-delay-n(1) //調用 animation-delay-n
}

.cb-slideshow li:nth-child(3) span {
  background-image: image-url("new-index/banner1.jpg");
  @include animation-delay-n(2)
}
.cb-slideshow li:nth-child(4) span {
  background-image: image-url("new-index/banner2.jpg");
  @include animation-delay-n(3)
}
.cb-slideshow li:nth-child(5) span {
  background-image: image-url("new-index/banner1.jpg");
  @include animation-delay-n(4)
}
.cb-slideshow li:nth-child(6) span {
  background-image: image-url("new-index/banner2.jpg");
  @include animation-delay-n(5)
}

//
.cb-slideshow li:nth-child(2) div {
  @include animation-delay-n(1)
}
.cb-slideshow li:nth-child(3) div {
  @include animation-delay-n(2)
}
.cb-slideshow li:nth-child(4) div {
  @include animation-delay-n(3)
}
.cb-slideshow li:nth-child(5) div {
  @include animation-delay-n(4)
}
.cb-slideshow li:nth-child(6) div {
  @include animation-delay-n(5)
}

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
  0% {
      opacity: 0;
      -webkit-animation-timing-function: ease-in;
  }
  8% {
      opacity: 1;
      -webkit-transform: scale(1.05);
      -webkit-animation-timing-function: ease-out;
  }
  17% {
      opacity: 1;
      -webkit-transform: scale(1.1);
  }
  25% {
      opacity: 0;
      -webkit-transform: scale(1.1);
  }
  100% { opacity: 0 }
}
@-moz-keyframes imageAnimation {
  0% {
      opacity: 0;
      -moz-animation-timing-function: ease-in;
  }
  8% {
      opacity: 1;
      -moz-transform: scale(1.05);
      -moz-animation-timing-function: ease-out;
  }
  17% {
      opacity: 1;
      -moz-transform: scale(1.1);
  }
  25% {
      opacity: 0;
      -moz-transform: scale(1.1);
  }
  100% { opacity: 0 }
}
@-o-keyframes imageAnimation {
  0% {
      opacity: 0;
      -o-animation-timing-function: ease-in;
  }
  8% {
      opacity: 1;
      -o-transform: scale(1.05);
      -o-animation-timing-function: ease-out;
  }
  17% {
      opacity: 1;
      -o-transform: scale(1.1);
  }
  25% {
      opacity: 0;
      -o-transform: scale(1.1);
  }
  100% { opacity: 0 }
}
@-ms-keyframes imageAnimation {
  0% {
      opacity: 0;
      -ms-animation-timing-function: ease-in;
  }
  8% {
      opacity: 1;
      -ms-transform: scale(1.05);
      -ms-animation-timing-function: ease-out;
  }
  17% {
      opacity: 1;
      -ms-transform: scale(1.1);
  }
  25% {
      opacity: 0;
      -ms-transform: scale(1.1);
  }
  100% { opacity: 0 }
}
@keyframes imageAnimation {
  0% {
      opacity: 0;
      animation-timing-function: ease-in;
  }
  8% {
      opacity: 1;
      transform: scale(1.05);
      animation-timing-function: ease-out;
  }
  17% {
      opacity: 1;
      transform: scale(1.1);
  }
  25% {
      opacity: 0;
      transform: scale(1.1);
  }
  100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation {
  0% {
      opacity: 0;
      -webkit-transform: translateY(200px);
  }
  8% {
      opacity: 1;
      -webkit-transform: translateY(0px);
  }
  17% {
      opacity: 1;
      -webkit-transform: scale(1);
  }
  19% { opacity: 0 }
  25% {
      opacity: 0;
      -webkit-transform: scale(10);
  }
  100% { opacity: 0 }
}
@-moz-keyframes titleAnimation {
  0% {
      opacity: 0;
      -moz-transform: translateY(200px);
  }
  8% {
      opacity: 1;
      -moz-transform: translateY(0px);
  }
  17% {
      opacity: 1;
      -moz-transform: scale(1);
  }
  19% { opacity: 0 }
  25% {
      opacity: 0;
      -moz-transform: scale(10);
  }
  100% { opacity: 0 }
}
@-o-keyframes titleAnimation {
  0% {
      opacity: 0;
      -o-transform: translateY(200px);
  }
  8% {
      opacity: 1;
      -o-transform: translateY(0px);
  }
  17% {
      opacity: 1;
      -o-transform: scale(1);
  }
  19% { opacity: 0 }
  25% {
      opacity: 0;
      -o-transform: scale(10);
  }
  100% { opacity: 0 }
}
@-ms-keyframes titleAnimation {
  0% {
      opacity: 0;
      -ms-transform: translateY(200px);
  }
  8% {
      opacity: 1;
      -ms-transform: translateY(0px);
  }
  17% {
      opacity: 1;
      -ms-transform: scale(1);
  }
  19% { opacity: 0 }
  25% {
      opacity: 0;
      -webkit-transform: scale(10);
  }
  100% { opacity: 0 }
}
@keyframes titleAnimation {
  0% {
      opacity: 0;
      transform: translateY(200px);
  }
  8% {
      opacity: 1;
      transform: translateY(0px);
  }
  17% {
      opacity: 1;
      transform: scale(1);
  }
  19% { opacity: 0 }
  25% {
      opacity: 0;
      transform: scale(10);
  }
  100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
  opacity: 1;
}
@media screen and (max-width: 1140px) {
  .cb-slideshow li div h3 { font-size: 100px }
}
@media screen and (max-width: 600px) {
  .cb-slideshow li div h3 { font-size: 50px }
}


.kld-footer{
  padding: 20px 0 20px 8%;
  border-top: 1px solid #ccc;
  .logo,.copy{
    float: left;
  }
  .copy{
    margin-left: 14%;
    width: 76%;
    min-width: 618px;
    font-size: 12px;
    color: #949392;
    span{
      padding: 0 5px;
    }
  }
}


.header-others{
	.kld-header{
	  height: 90px;
    a{
      margin: 0;
      font-size: 14px;
    }
    .bac{
      height: 90px;
      background: #e94609;
      opacity: 0.8;
    }
    .kld-header-wrap{
      .kld-header-logo{
        .kld-header-logo-slogan{
          margin-top: 5px;
        }
      }
      .kld-header-link{

        li{
          .cl-effect-1:before,.cl-effect-1:after {
            display: inline-block;
            opacity: 0;
            -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
            -moz-transition: -moz-transform 0.3s, opacity 0.2s;
            transition: transform 0.3s, opacity 0.2s;
          }

          .cl-effect-1:before {
            margin-right: 10px;
            content: '[';
            -webkit-transform: translateX(20px);
            -moz-transform: translateX(20px);
            transform: translateX(20px);
          }

          .cl-effect-1:after {
            margin-left: 10px;
            content: ']';
            -webkit-transform: translateX(-20px);
            -moz-transform: translateX(-20px);
            transform: translateX(-20px);
          }
          .cl-effect-1:hover::before,
          .cl-effect-1:hover::after,
          .cl-effect-1:focus::before,
          .cl-effect-1:focus::after {
            opacity: 1;
            -webkit-transform: translateX(0px);
            -moz-transform: translateX(0px);
            transform: translateX(0px);
          }
        }
        .active{
          .cl-effect-1:before,.cl-effect-1:after {
            display: inline-block;
            opacity: 1;
          }
          .cl-effect-1:before {
            float: left;
            margin-left: -10px;
            content: '[';
            -webkit-transform: translateX(20px);
            -moz-transform: translateX(20px);
            transform: translateX(20px);
          }
          .cl-effect-1:hover::before {
            float: left;
            margin-left: -10px;
            content: '[';
            -webkit-transform: translateX(20px);
            -moz-transform: translateX(20px);
            transform: translateX(20px);
          }

          .cl-effect-1:after {
            float: right;
            margin-right: -10px;
            content: ']';
            -webkit-transform: translateX(-20px);
            -moz-transform: translateX(-20px);
            transform: translateX(-20px);
          }
          .cl-effect-1:hover::after {
            float: right;
            margin-right: -10px;
            content: ']';
            -webkit-transform: translateX(-20px);
            -moz-transform: translateX(-20px);
            transform: translateX(-20px);
          }
        }
        .sub2{
          height: 40px;
          .subbac{
            height: 40px;
            background: #333;
            opacity: 0.8;
          }
          ul{
            top: 0;
            min-width: 680px;
            margin-left: 35%;
            li{
              padding: 5px 0;
              a{
                color: #fff;
              }
              &:hover{
                background: #ccc;
                a{
                  color: $main-orange;
                }
              }
            }
            .active{
              background: #ccc;
              a{
                color: $main-orange;
              }
            }
          }
        }
        .team{
          .sub2{
            ul{
              min-width: 200px;
              margin-left: 52%;
            }
          }
        }
        .about{
          .sub2{
            ul{
              min-width: 100px;
              margin-left: 55%;
            }
          }
        }
        .log-btn{
          .sub2{
            ul{
              min-width: 300px;
              margin-left: 62%;
            }
          }
        }
        .active{
          a{
            color: #fff;
          }
        }
      }
    }
	}
}

.user-info{
  height: 1100px;
  background-image: image-url('new-index/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .main{
    width: 1030px;
    margin: 0 auto;
  }
  .user-info-main{
    padding: 50px 0;
    .items,.content{
      float: left;
    }
  }
  .items{
    width: 12%;
    height: 200px;
    line-height: 30px;
    padding: 20px;
    background-image: image-url('new-user/border.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    a{
      color: $main-orange;
      text-decoration: none;
      &:hover{
        padding-left: 15px;
        color: #fff;
      }
    }
  }
  .content{
    width: 86%;
    min-height: 180px;
    margin: -150px 100px;
    border-radius: 5px;
    background: #eee;

    .maintain-histories{
      margin-top: 20px;

      .item{
        height: 63px;
        background: white;
        margin-bottom: 20px;
        line-height: 63px;
        border: 1px solid #dbdbdb;
        @include border-radius(2px);
        .brand{
          width: 430px;
          margin-left: 20px;
        }
        .servedate{
          width: 180px;
          margin-left: 10px;
        }
        .btns{
          margin-right: 20px;
          a{
            display: inline-block;
            border: 1px solid #e94609;
            @include border-radius(3px);
            height: 36px;
            width: 84px;
            color: #e94609;
            line-height: 34px;
            margin-top: 10px;
            text-align: center;
            &:hover{
              text-decoration: none;
              background: #e94609;
              color: white;
            }
          }
        }
      }

    }

    .order-list{
      margin: 15px 0;
      border-radius: 3px;
      .order-item{
        position: relative;
        margin-bottom: 10px;
        border: 1px solid #dcdcdc;
        border-radius: 3px;
        .top{
          line-height: 50px;
          padding-right: 20px;
          border-radius: 3px 3px 0 0;
          .datetime{
            p{
              margin: 0 20px;
            }
          }
          .finish-img{
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
          }
        }
        .wait{
          background: #fdece6;
          color: $main-orange;
        }
      }
    }
  }
}
.user-info .con,.orders-detail .order-info{
  height: 250px;
  padding: 30px 0;
  background: #fff;
  border-radius: 0 0 3px 3px;
  .logo,.item-price,.total-price,.more{
    padding: 20px;
    height: 100%;
    border-right: 1px solid #e5e5e5;
  }
  .more,.operate{
    color: #999999;
  }
  .logo{
    width: 20%;
    text-align: center;
  }
  .item-price{
    width: 40%;
    color: #666666;
    .item{
      line-height: 30px;
    }
  }
  .operate{
    padding: 20px;
    a{
      color: #666666;
    }
  }
  .origin{
    color: #999999;
  }
  .over{
    text-decoration: line-through;
  }
  .more{
    cursor: pointer;
    cursor: hand;
    text-align: center;
    .phone{
      position: absolute;
      top: 56%;
      right: 11%;
      width: 180px;
      line-height: 48px;
      padding: 10px 10px 0;
      background-image: image-url('new-user/infoborder.png');
      background-size: 100% 100%;
      text-align: center;
    }
    a{
      color: #999999;
    }
  }
  .now{
    padding-right: 20px;
    // background-image: image-url('new-user/privilege.png');
    background-position: right;
    background-repeat: no-repeat;
    font-size: 20px;
    color: #e94609;
  }
}

.orders-detail{
  height: 1600px;
  .content{
    margin: -15px 40px;
    padding: 10px;
    border-radius: 5px;
    background: #eee;
  }
  table{
    width: 100%;
    border-radius: 2px;
  }
  table,td{
    border: 1px solid #ccc;
    line-height: 30px;
  }
  td{
    padding: 10px;
    &:nth-child(odd){
      width: 10%;
    }
  }
  .order-info{
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    .item-price{
      width: 60%;
    }
    .total-price{
      width: 15%;
      border: 0;
      text-align: center;
    }
  }
  .btns{
    line-height: 35px;
    margin: 10px 0 0 40%;
    width: 60%;
    li{
      width: 100px;
      margin: 0 5px;
      text-align: center;
      border-radius: 4px;
      border: 1px solid #bfbfbf;
      background: #eeeeee;
      cursor: pointer;
      cursor: hand;
      &:hover{
        background: $main-orange;
        color: #fff;
      }
    }
  }
  .next-order{
    display: block;
    padding: 20px;
    text-align: right;
    color: #999999;
  }
}
.orders-detail,.know{
  height: 1600px;
  background-image: image-url('new-index/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .main{
    width: 1030px;
    margin: 50px auto;
    .content,.cont{
      .top{
        line-height: 50px;
        padding: 0 10px;
        border-radius: 3px 3px 0 0;
        border: 1px solid #dbdbdb;
        border-bottom: 0;
        background: #fff;
        a{
          color: #8c8c8c;
        }
      }
      .con{
        padding: 20px;
        background: #fff;
        border: 1px solid #dbdbdb;
        border-radius: 0 0 3px 3px;
        background: #fff;
        h4{
          color: #333333;
        }
      }
    }
  }
}
.know{
  .cont{
    float: left;
    width: 85%;
    margin: 70px 0 0 -20px;
    padding: 10px;
    border-radius: 5px;
    background: #eee;
  }
  .menu-tag{
    float: left;
    width: 120px;
    padding: 20px;
    line-height: 40px;
    background-image: image-url('new-user/border.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    cursor: pointer;
    cursor: hand;
    li a{
      color: white;
    }
    li:hover{
      color: $main-orange;
      padding-left: 15px;
    }
  }
  .item{
    width: 48%;
    line-height: 30px;
    margin: 0 1%;
    border-bottom: 1px solid #ccc;
    &:before{
      float: left;
      content: '·';
      width: 25px;
      margin: 10px;
      font-size: 100px;
      color: #dddddd;
    }
    a{
      float: left;
      line-height: 60px;
      color: #666666;
      text-decoration: none;
    }
    &:hover{
      &:before{
        color: $main-orange;
      }
      a{
        color: $main-orange;
      }
    }
  }
  .detail{
    border: 1px solid #dbdbdb;
    border-top: 0;
    border-radius: 0 0 3px 3px;
    background: #fff;
    .title{
      line-height: 40px;
      margin: 0;
      text-align: center;
    }
    .article{
      margin: 30px 0;
      padding: 0 20px;
      text-indent: 2em;
    }
  }
}





.hide {
  display: none;
}

#add_address_modal{
  .address-inputs{
    padding-top: 20px;
  }
  .add-address{
    padding-left: 10px;
  }
}
.tangram-suggestion-main{
  z-index: 2000;
}

#select_city_modal{

  .cities{
    padding: 20px;
    padding-bottom: 0;

    .city{
      margin-right: 20px;
      margin-bottom: 20px;

      input[type='radio']{
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;
      }
    }
  }

  .submit{
    text-align: center;
    .submit_button{
      width: 100px;
      margin: 10px 0;
      background-color: #e6e6e6;
    }
  }

  .change-city{
    margin-top: 15px;
    text-align: center;
    .orange-btn{
      @include button();
    }
  }
}
#login_modal{
  .modal-body{
    overflow: hidden;
  }
  .phone_num{
    margin: 10px 0;
  }
  .verification_code{
    float: left;
    width: 50% !important;
  }
  .get_code{
    float: left;
    width: 45%;
    margin-left: 5%;

    @include border-radius(0px !important);
    background: #eebf8f;
    border: 0 none;
    color: white;
    width: 45%;
    padding: 0;
    text-align: center;
    height: 34px;
    line-height: 34px;

  }
  .get_code,.submit_button{
    line-height: 30px;
    border: 0;
    border-radius: 4px;
  }
  .login{
    width: 100px;
    margin: 0 auto;
  }
  .submit_button{
    width: 100%;
    margin: 10px 0;
    background-color: #e6e6e6;
  }
}

.blank{
  line-height: 200px;
  text-align: center;
}

.maintain-report{

  .report .head{
    @include border-radius(3px);
    @include border-bottom-left-radius(0);
    @include border-bottom-right-radius(0);
    border: 1px solid #dcdcdc;
    border-bottom: 0 none;
    padding-left: 10px;
    height: 45px;
    background: #e5e5e5;
    line-height: 45px;
    a{
      font-size: 14px;
      color: #666666;
    }
  }

  .tab-panel{
    background: white;
  }

  ul.nav.nav-tabs{
    border: 0 none;
    background: white;
    margin: 0 30px;
    border-bottom: 2px solid #e5e5e5;
    li{
      a{
        border: 0 none;
        @include border-radius(0);
        color: #666666;
        margin-right: 0;
        background: white;
      }
      &.active{
        color: #e94609;
        border-bottom: 4px solid #e94609;
      }
    }
  }

  padding: 20px;
  color: #666666;

  .summary, .appearance, .elements, .others, .tire{
    padding: 40px;
    background: white;

    .name{
      color: #050505;
      width: 180px;
    }

    .state{
      &.on{
        color: #008012;
      }
      &.off{
        color: #ea4609;
      }
    }
  }

  .appearance, .elements, .others, .tire{
    ul li{
      margin-bottom: 10px;
    }
  }

  .summary{
    .big-chart{
      position: relative;
      .big-score{
        font-size: 63px;
        color: #ee7800;
        font-weight: 100;
        text-align: center;
        position: absolute;
        top: 20px;
        width: 100%;
      }
      .cheliang-score{
        font-size: 16px;
        text-align: center;
        position: absolute;
        top: 103px;
        width: 100%;
      }
    }
    .scores{
      li {
        margin-bottom: 10px;
        .name{
          width: 120px;
        }
        .progress{
          width: 176px;
          height: 6px;
          margin-top: 8px;
          margin-bottom: 8px;
          border: 1px solid #fcdbaa;
          background-color: white;
          @include box-shadow(0 0);
          .progress-bar{
            @include background-image(linear-gradient(92deg, #ffe779, #FCB499));
            background-color: white;
            @include box-shadow(0 0);
          }
        }
        .score{
          margin-left: 20px;
        }
      }
    }
  }
}

#cancel_modal{
  // @include radio();

  .modal-header{
    padding: 0px 15px 0 15px;

    .modal-title{
      line-height: 57px;
      font-size: 16px;
      color: #ee7800;
    }

    height: 57px;
    border-bottom: 0 none;
  }

  hr {
    margin: 0;
    border: 1px solid #ee7800;
  }
  .modal-body{
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0 none;
    .reasons{

      .reason-content{
        width: 80%;
        label{
          width: 100%;
        }
      }

      .radio-btn{
        width: 10%;
        label{
          width: 100%;
        }
        span{
          margin:-2px 0px 0 9px;
        }
      }

      li{
        width: 100%;
        height: 30px;
        font-size: 15px;
        line-height: 42px;
        margin-top: 10px;
      }
    }
    .textarea{
      margin-top: 15px;
      display: none;
    }
    hr {
      margin-top: 15px;
    }
  }
  .modal-footer{
    border-top: 0 none;

    .btn-done{
      background-color: #ee7800;
      color: white;
    }
  }
}

#comment_modal{
  .comment-stars{
    width: 160px;
    margin: 20px auto;
    img{
      width: 16%;
      cursor: pointer;
      cursor: hand;
    }
  }
  #comment_con{
    width: 100%;
  }
  .comment-tags{
    // padding: 5px 50px;
    .tags{
      margin-bottom: 8px;
      input[type='radio']{
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;
      }
    }
    .tag{
      &.good{
        width: 44%;
        .btn{
          color: $main-orange;
          border-color: $main-orange;
          font-size: 12px;
          &:hover, &.active{
            color: #ffffff;
            background: $main-orange;
          }
        }
      }
      &.bad{
        margin-left: 25px;
        .btn{
          color: #666666;
          border-color: #666666;
          font-size: 12px;
          &:hover, &.active{
            color: #ffffff;
            background: #666666;
          }
        }
      }
    }
  }

  .submit-comment{
    margin-top: 15px;
    text-align: center;
    .orange-btn{
      @include button();
    }
  }
}

