// libs

@import "compass";
@import "compass/reset";
@import "classic";
@import "classic.date";
@import "classic.time";
@import "mixins/button";

@import "demo";

@import "bootstrap-sprockets";
@import "bootstrap";

$nprogress-color: #f57e56;
$nprogress-height: 2px;
$nprogress-zindex: 10100;

@import "nprogress";
@import "nprogress-bootstrap";

@import "new/home";
@import "new/orders";
@import "new/posts";
@import "static_pages";


a:link[title="站长统计"]{
  display: none;
}


body{
  // background: lightblue;
}
*{
	margin: 0;
	padding: 0;
}
nav{
  font-size: 14px;
  font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体";
  overflow-x: hidden;
  ul,p{
  	margin: 0;
  	padding: 0;
  }

  li{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a{
    text-decoration: none;
	&:hover{
		text-decoration: none;
	}
  }

  .kld-header{
    a{
      color: #fff;
    }
    ul, li{
      list-style: none;
    }
    li{
      float: left;
    }
    #slider1_container{
      position: relative;
      width: 980px;
      height: 430px;
      overflow: hidden;
      .content{
        // cursor: move;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 980px;
        height: 430px;
        overflow: hidden;
        img{
          width: 100%;
        }
      }
    }
    .toggle{
      background: #fff;
      color: #666666;
      a{
        color: #666666;
      }
      .kld-header-logo{
        color: #666666;
      }
    }
    .kld-header-wrap{
      position: absolute;
      top: 0;
      width: 100%;
      margin: 0 auto;
      padding: 0 5%;
      color: #fff;

      .kld-header-logo,.kld-header-log,.kld-header-link{
        float: left;
      }

      .kld-header-logo{
        width: 35%;
        margin: 20px 0;
        .kld-header-logo-img,.kld-header-logo-slogan{
          float: left;
        }
        .kld-header-logo-img{
            width: 145px;
            margin-right: 25px;
            background-repeat: no-repeat;
            background-position: right center;
            background-image: image-url('new-index/line.png');
        }
        .kld-header-logo-slogan{
          width: 25%;
          font-size: 12px;
        }
        .address{
          width: 100px;
          margin-left: 264px;
          margin-top: 12px;

        }
      }

      .kld-header-link{
        width: 60%;
        line-height: 30px;
        text-align: center;
        li{
          width: 14%;
        }
        a{
          display: block;
          padding: 30px 0;
        }
        .active,.selected{
          a{
            color: $main-orange;
          }
        }
        .sub{
          background: #fff;
          color: $main-orange;
          ul{
            top: 10px;
            min-width: 400px;
            margin-left: 38%;
          }
        }
  		  .sub,.sub2{
          overflow: hidden;
  		    position: absolute;
  		    top: 90px;
  		    left: 0;
  		    width: 100%;
          height: 0;
    			ul{
    				position: absolute;
  		  		li{
  			    	float: left;
  				    width: 100px;
    					margin: 0 10px;
              font-size: 12px;
    					text-align: center;
              a{
                color: $main-orange;
                padding: 0 10px;
              }
              img{
                width: 80%;
              }
              .customer-num{
                width: 35%;
              }
              .num{
                font-size: 14px;
                font-weight: bold;
              }
              .pic1{
                margin-top: 5px;
              }
              .pic2{
                margin-top: -5px;
              }
              p{
                line-height: 20px;
              }
              .key{
                margin-top: -10px;
              }
  			    }
    			}
    		}
      }

      .kld-header-log{
        margin: 35px 0;
      }
    }
  }
}


.cb-slideshow,
.cb-slideshow:after {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 570px;
    overflow: hidden;
}
.cb-slideshow:after {
    content: '';
    background: transparent url(../images/pattern.png) repeat top left;
}
.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
  -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h3 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    padding: 0;
    line-height: 200px;
  color: #e94609;
}
.cb-slideshow li:nth-child(1) span { background-image: image-url("new-index/banner.jpg") }
.cb-slideshow li:nth-child(2) span {
    background-image: image-url("new-index/banner.jpg");
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: image-url("new-index/banner.jpg");
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: image-url("new-index/banner.jpg");
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: image-url("new-index/banner.jpg");
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
    background-image: image-url("new-index/banner.jpg");
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.cb-slideshow li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
  0% {
      opacity: 0;
      -webkit-animation-timing-function: ease-in;
  }
  8% {
      opacity: 1;
      -webkit-transform: scale(1.05);
      -webkit-animation-timing-function: ease-out;
  }
  17% {
      opacity: 1;
      -webkit-transform: scale(1.1);
  }
  25% {
      opacity: 0;
      -webkit-transform: scale(1.1);
  }
  100% { opacity: 0 }
}
@-moz-keyframes imageAnimation {
  0% {
      opacity: 0;
      -moz-animation-timing-function: ease-in;
  }
  8% {
      opacity: 1;
      -moz-transform: scale(1.05);
      -moz-animation-timing-function: ease-out;
  }
  17% {
      opacity: 1;
      -moz-transform: scale(1.1);
  }
  25% {
      opacity: 0;
      -moz-transform: scale(1.1);
  }
  100% { opacity: 0 }
}
@-o-keyframes imageAnimation {
  0% {
      opacity: 0;
      -o-animation-timing-function: ease-in;
  }
  8% {
      opacity: 1;
      -o-transform: scale(1.05);
      -o-animation-timing-function: ease-out;
  }
  17% {
      opacity: 1;
      -o-transform: scale(1.1);
  }
  25% {
      opacity: 0;
      -o-transform: scale(1.1);
  }
  100% { opacity: 0 }
}
@-ms-keyframes imageAnimation {
  0% {
      opacity: 0;
      -ms-animation-timing-function: ease-in;
  }
  8% {
      opacity: 1;
      -ms-transform: scale(1.05);
      -ms-animation-timing-function: ease-out;
  }
  17% {
      opacity: 1;
      -ms-transform: scale(1.1);
  }
  25% {
      opacity: 0;
      -ms-transform: scale(1.1);
  }
  100% { opacity: 0 }
}
@keyframes imageAnimation {
  0% {
      opacity: 0;
      animation-timing-function: ease-in;
  }
  8% {
      opacity: 1;
      transform: scale(1.05);
      animation-timing-function: ease-out;
  }
  17% {
      opacity: 1;
      transform: scale(1.1);
  }
  25% {
      opacity: 0;
      transform: scale(1.1);
  }
  100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation {
  0% {
      opacity: 0;
      -webkit-transform: translateY(200px);
  }
  8% {
      opacity: 1;
      -webkit-transform: translateY(0px);
  }
  17% {
      opacity: 1;
      -webkit-transform: scale(1);
  }
  19% { opacity: 0 }
  25% {
      opacity: 0;
      -webkit-transform: scale(10);
  }
  100% { opacity: 0 }
}
@-moz-keyframes titleAnimation {
  0% {
      opacity: 0;
      -moz-transform: translateY(200px);
  }
  8% {
      opacity: 1;
      -moz-transform: translateY(0px);
  }
  17% {
      opacity: 1;
      -moz-transform: scale(1);
  }
  19% { opacity: 0 }
  25% {
      opacity: 0;
      -moz-transform: scale(10);
  }
  100% { opacity: 0 }
}
@-o-keyframes titleAnimation {
  0% {
      opacity: 0;
      -o-transform: translateY(200px);
  }
  8% {
      opacity: 1;
      -o-transform: translateY(0px);
  }
  17% {
      opacity: 1;
      -o-transform: scale(1);
  }
  19% { opacity: 0 }
  25% {
      opacity: 0;
      -o-transform: scale(10);
  }
  100% { opacity: 0 }
}
@-ms-keyframes titleAnimation {
  0% {
      opacity: 0;
      -ms-transform: translateY(200px);
  }
  8% {
      opacity: 1;
      -ms-transform: translateY(0px);
  }
  17% {
      opacity: 1;
      -ms-transform: scale(1);
  }
  19% { opacity: 0 }
  25% {
      opacity: 0;
      -webkit-transform: scale(10);
  }
  100% { opacity: 0 }
}
@keyframes titleAnimation {
  0% {
      opacity: 0;
      transform: translateY(200px);
  }
  8% {
      opacity: 1;
      transform: translateY(0px);
  }
  17% {
      opacity: 1;
      transform: scale(1);
  }
  19% { opacity: 0 }
  25% {
      opacity: 0;
      transform: scale(10);
  }
  100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
  opacity: 1;
}
@media screen and (max-width: 1140px) {
  .cb-slideshow li div h3 { font-size: 100px }
}
@media screen and (max-width: 600px) {
  .cb-slideshow li div h3 { font-size: 50px }
}


.kld-footer{
  padding: 20px 0 20px 8%;
  border-top: 1px solid #ccc;
  .logo,.copy{
    float: left;
  }
  .copy{
    margin-left: 14%;
    width: 76%;
    min-width: 618px;
    font-size: 12px;
    color: #949392;
    span{
      padding: 0 5px;
    }
  }
}


.header-others{

	.kld-header{
	  height: 90px;
    a{
      margin: 0;
      font-size: 14px;
    }
    .bac{
      height: 90px;
      background: #e94609;
      opacity: 0.8;
    }
    .kld-header-wrap{
      .kld-header-logo{
        .kld-header-logo-slogan{
          margin-top: 5px;
        }
      }
      .kld-header-link{
        .cl-effect-1:before,.cl-effect-1:after {
          display: inline-block;
          opacity: 0;
          -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
          -moz-transition: -moz-transform 0.3s, opacity 0.2s;
          transition: transform 0.3s, opacity 0.2s;
        }

        .cl-effect-1:before {
          margin-right: 10px;
          content: '[';
          -webkit-transform: translateX(20px);
          -moz-transform: translateX(20px);
          transform: translateX(20px);
        }

        .cl-effect-1:after {
          margin-left: 10px;
          content: ']';
          -webkit-transform: translateX(-20px);
          -moz-transform: translateX(-20px);
          transform: translateX(-20px);
        }
        .cl-effect-1:hover::before,
        .cl-effect-1:hover::after,
        .cl-effect-1:focus::before,
        .cl-effect-1:focus::after {
          opacity: 1;
          -webkit-transform: translateX(0px);
          -moz-transform: translateX(0px);
          transform: translateX(0px);
        }
        .sub2{
          height: 40px;
          .subbac{
            height: 40px;
            background: #333;
            opacity: 0.8;
          }
          ul{
            top: 0;
            min-width: 680px;
            margin-left: 37%;
            li{
              padding: 5px 0;
              a{
                color: #fff;
              }
              &:hover{
                background: #ccc;
                a{
                  color: $main-orange;
                }
              }
            }
          }
        }
        .team{
          .sub2{
            ul{
              min-width: 200px;
              margin-left: 58%;
            }
          }
        }
        .active{
          a{
            color: #fff;
          }
        }
      }
    }
	}
}

.hide {
  display: none;
}

#add_address_modal{
  .address-inputs{
    padding-top: 20px;
  }
  .add-address{
    padding-left: 10px;
  }
}
.tangram-suggestion-main{
  z-index: 2000;
}

#select_city_modal{

  .cities{
    padding: 20px;
    padding-bottom: 0;

    .city{
      margin-right: 20px;
      margin-bottom: 20px;

      input[type='radio']{
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;
      }
    }
  }

  .submit{
    text-align: center;
    .submit_button{
      width: 100px;
      margin: 10px 0;
      background-color: #e6e6e6;
    }
  }

  .change-city{
    margin-top: 15px;
    text-align: center;
    .orange-btn{
      @include button();
    }
  }
}
#login_modal{
  .modal-body{
    overflow: hidden;
  }
  .phone_num{
    margin: 10px 0;
  }
  .verification_code{
    float: left;
    width: 50% !important;
  }
  .get_code{
    float: left;
    width: 45%;
    margin-left: 5%;

    @include border-radius(0px !important);
    background: #eebf8f;
    border: 0 none;
    color: white;
    width: 45%;
    padding: 0;
    text-align: center;
    height: 34px;
    line-height: 34px;

  }
  .get_code,.submit_button{
    line-height: 30px;
    border: 0;
    border-radius: 4px;
  }
  .login{
    width: 100px;
    margin: 0 auto;
  }
  .submit_button{
    width: 100%;
    margin: 10px 0;
    background-color: #e6e6e6;
  }
}

