@import "mixins/button";
@import "mixins/checkbox";

$bac-orange: #ff9934;
$border-orange: #ef7337;
$font-gray: #dedede;
$font-orange: #ec8721;
$title-gray: #787878;

.orders-con{
  padding: 0 20px;
  border-radius: 4px;
  .spe{
    color: $font-orange;
  }
  h4{
    line-height: 70px;
    color: #666;
    font-size: 16px;
  }
  .item-list{
    overflow: hidden;
    line-height: 40px;
    label{
      color: #666;
      float: left;
      padding: 0;
    }
    .form-group{
      margin: 0;
    }
    .price,.now{
      font-size: 28px;
      color: #f57e56;
    }
    .price,.now,.reason{
      float: left;
    }
    .reason{
      float: left;
      display: inline-block;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      cursor: pointer;
      cursor: hand;
    }
    .reason1{
      background-image: image-url('reason1.png');
    }
    .reason2{
      background-image: image-url('reason2.png');
    }
    .original{
      margin: 5px 5px 0 20px;
      text-decoration: line-through;
      font-size: 16px;
      color: #e1e1e1;
    }
    .item-box{
      display: inline-block;
      .item{

        .part-checkbox{
          width: 20px;

        }

        .part{
          width: 260px;
          &.form-control{
            @include border-top-left-radius(0);
            @include border-bottom-left-radius(0);
          }

          &.no-part{
            @include border-radius(3px);
          }
        }

        overflow: hidden;
        &:last-child{
          margin: 0;
        }
      }
    }
    .service-price{
      background: #fafafa;
      width: 360px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      input{
        float: left;
        margin: 14px 2px;
      }
    }
  }
  .order_button{
    @include button;
  }
}
.select-car-page,.items-select-page{
  .comment-module,.service-module,.orders-situation{
    margin: 40px 0;
    padding: 20px;
  }
  .module-title{
    font-size: 20px;
    line-height: 40px;
    margin: 0;
  }
}
.select-car-page{
  background: $bac;
  .select-item{
    clear: both;
    .select-car, .quick-select{
      float: left;
      width: 46%;
      min-height: 220px;
      margin: 28px 2%;
      padding: 0 20px;
      border: 1px solid #fff;
      h4{
        text-align: center;
        margin-bottom: 30px;
        color: $title-gray;
        font-size: 18px;
      }
    }
    .selected{
      border: 1px solid #ddd;
    }
    .clear{
      clear: both;
    }
    .next{
      position: relative;
      width: 90%;
      margin: 0 auto;
      padding: 20px 0;
      text-align: center;
      .search_button{
        @include button();
      }
      .more{
        position: absolute;
        top: 35px;
        padding: 5px;
        text-decoration: underline;
        color: #999999;
        font-size: 12px;
      }
    }
    .select-car{
      .field{
        overflow: hidden;
        margin-bottom: 20px;
        line-height: 20px;
        label,select{
          float: left;
        }
        label{
          font-size: 18px;
          color: $title-gray;
        }
        .search_button{
          margin: 30px auto;
        }
      }
    }
    .quick-select{
      .car{
        padding-left: 0;
        margin-bottom: 10px;

        &.pull-left.col-sm-3{
          width: 50%;
          min-width: 150px;
        }

        .content{
          padding: 10px;
          table.table{
            margin-bottom: 0;
            td{
              border-top: 0 none;
            }
          }
        }
      }

    }
  }
  .comment-module,.orders-situation{

    marquee{
      margin-top: 20px;
    }

    dl{
      padding: 20px 0;
      border-bottom: 1px solid #ddd;
      dt{
        overflow: hidden;
        line-height: 40px;
      }
      h3{
        width: 230px;
        float: left;
        font-size: 16px;
        color: #2c698c;
      }
      .time{
        float: left;
        font-size: 10px;
        color: #a0a0a0;
      }
      dd{
        color: $title-gray;
      }
    }
  }
}
.items-select-page{
  background: $bac;
  .orders{
    position: relative;
    padding: 20px;
    ul{
      overflow: hidden;
      position: relative;
      top: 1px;
      z-index: 999;
      li{
        float: left;
        padding: 0 20px;
        font-size: 18px;
        a{
          display: block;
          padding: 5px 0;
          color: #ddd;
          text-decoration: none;
        }
      }
      .selected{
        border: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
        border-bottom: 0;
        background: #fff;
        a{
          color: $font-orange;
        }
      }
    }
    .orders-con{
      border: 1px solid #ddd;
      .order_button{
        margin: 20px 0;
        @include button;
      }
    }
  }
}

.quick-select{
  .car{
    padding-left: 0;
    margin-bottom: 10px;

    &.pull-left.col-sm-3{
      width: 100%;

      float: none;
    }

    .content{
      padding: 10px;
      table.table{
        margin-bottom: 0;
        td{
          border-top: 0 none;
        }
      }
    }
  }
}


#invoice_info{
  margin-top: 10px;
}

.place-order-page{
  form{
    margin-bottom: 40px;
  }
  .addresses{
    .addr{
      color: #666;
    }
  }
  #item_table{
    background: white;
    width: 100%;
    border: 1px solid #ccc;
    th,td{
      width: 22%;
      height: 40px;
      text-align: center;
      color: #666666;
      border: 1px solid #ccc;
    }
    th{
      background: #f9f6f1;
    }
    td{
      line-height: 40px;
    }
    .item{
      width: 34%;
    }
    p{
      margin: 0;
    }
    .result{
      font-size: 24px;
      color: #ef4f24;
    }
  }
  .info-group{
    overflow: hidden;
    margin: 5px;
    padding-left: 30px;
    .reciept-detail{
      padding-left: 5px;
    }
    input{
      line-height: 30px;
    }
    .star{
      float: left;
      color: $font-orange;
      font-size: 20px;
    }
    .info-title{
      float: left;
      width: 130px;
      line-height: 35px;
      text-align: right;
      label{
        color: #666;
      }
    }
    .info-con{
      float: left;
      padding-left: 5px;
      #address{
        width: 230px;
      }
      .verify-btn{
        @include button();
      }
      .verify-info{
        color: $font-orange;
      }
      .hidden{
        display: none;
      }
    }
    .find-vin{
      width: 20px;
      height: 20px;
      line-height: 20px;
      margin: 6px;
      border: 1px solid #ccc;
      border-radius: 3px;
      cursor: pointer;
      cursor: hand;
      &:hover{
        background: #ccc;
        color: #fff;
      }
    }
    .spe{
      margin: 0 40px;
    }
  }
  .vin-con{
    display: none;
    position: absolute;
    top: 204px;
    left: 400px;
    padding: 0;
    width: 200px;
    height: 194px;
  }
  .orders-content{
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    .title,.address-info,.order-info{
      line-height: 40px;
      padding-left: 40px;
      margin-bottom: 10px;
      background-size: 26px;
      background-position: 10px;
      background-repeat: no-repeat;
      font-size: 18px;
    }
    .address-info{
      background-image: image-url('address-info-pc.png');
    }
    .order-info{
      background-image: image-url('order-info-pc.png');
    }
  }

  .submit-info{
    height: 68px;
    // line-height: 68px;
    width: 100%;
    padding: 10px 10px;
    margin: 20px 0;

    @include border-radius(3px);
    background: #EC9C21;
    // @include background-image(linear-gradient(top , #ff9933, #ec8721));
    @include filter-gradient(#ff9933, #ec8721);
    @include box-shadow(inset 0px 1px rgba(255, 255, 255, 0.4));
    border: 1px solid #e97a0c;

    .maintain-name, .price{
      line-height: 48px;
      font-size: 18px;
      color: white;
    }
    .submit-btn{
      margin-top: 3px;
      border: 0;
      @include border-radius(4px);
      height: 40px;
      line-height: 40px;
      width: 100%;
      color: $font-orange;
      font-size: 18px;
      &:hover{
        background: #ececec;
        color: #FFBB76;
      }
    }
  }
}
.success-page,.success-page-phone{
  .success-con{
    border: 1px solid #ccc;
    background: #fff;
    text-align: center;
    .title{
      font-size: 20px;
      color: #f37920;
      &:before{
        content: image-url('success-phone.png');
        display: block;
        margin: 10px 0;
      }
    }
    .next{
      margin: 10px 50px;
      font-size: 16px;
      color: #999999;
    }
    .bac{
      overflow: hidden;
      width: 170px;
      margin: 0 auto;
      font-size: 16px;
      li{
        float: left;
        margin: 10px;
        a{
          color: #ffae20;
        }
      }
    }
  }
}

.success-page-phone{
  .success-con{
    margin: 100px 0;
  }
}
.address-content{
  margin-top: 15px;
  border-bottom: 0;
  .description{
    color: $font-orange;
    line-height: 40px;
  }
  .choice{
    overflow: hidden;
    color: #666666;
    .choice-title{
      line-height: 40px;
      padding-left: 40px;
      margin: 10px 0;
      background-image: image-url('address.png');
      background-repeat: no-repeat;
    }
    .address-list{
      overflow: hidden;
      padding-top: 10px;
      .address-item{
        float: left;
        position: relative;
        @include box-sizing(border-box);
        width: 29%;
        height: 100px;
        padding: 5px 10px 0;
        margin-right: 5%;
        border: 2px solid #f1f1f1;
        font-size: 16px;
        cursor: pointer;
        cursor: hand;
        &:nth-child(3n){
          margin: 0;
        }
        dt,dd{
          line-height: 30px;
        }
        dt{
          border-bottom: 1px solid #f1f1f1;
        }
        .close{
          position: absolute;
          top: -18px;
          right: -18px;
          content: image-url('close.png');
        }
        .selected{
          position: absolute;
          right: 0;
          top: 54px;
        }
        .hidden{
          display: none;
        }
        .selected:before{
          content: image-url('selected.png');
        }
      }
      .selected-item{
        border-color: $border-orange;
      }
    }
    .hidden{
      display: none;
    }
  }
  .more:after{
    content: image-url('more.png');
    line-height: 50px;
    margin: 10px;
  }
  .new{
    margin-top: 20px;
    .new-title{
      width: 150px;
      margin: 0;
      padding: 5px;
      background: #f0f0f0;
      text-align: center;
      color: #676767;
    }
    .new-con{
      width: 400px;
      padding: 10px;
      border: 1px solid #f1f1f1;
      .add-address{
        height: 30px;
        line-height: 30px;
        width: 100px;
        border: 0;
        border-radius: 2px;
        margin: 10px auto;
        text-align: center;
      }
    }
  }
}

.submit-con{
  position: fixed;
  bottom: 0;
  z-index: 999;
  padding: 10px;
  width: 100%;
  line-height: 22px;
  border-top: 1px solid #ccc;
  background: #f7f4f3;
  p{
    font-size: 12px;
    color: #999;
  }
  .result-price{
    color: #f57e56;
    font-size: 22px;
  }
  .submit{
    position: absolute;
    right: 20px;
    background: #feac5a;
    border: 0;
    border-radius: 5px;
    color: #fff;
  }
}
.select-car-phone{
  line-height: 35px;
  .my-car-title{
    border-bottom: 1px solid #ccc;
  }
  .my-car-title:before{
    content: image-url('my-car.png');
  }
  .service-type-title:before{
    content: image-url('service-type.png');
  }
  #myTab{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background: #fff;
    li{
      width: 33%;
      text-align: center;
      font-size: 16px;
      a{
        line-height: 20px;
        color: #515151;
        border-radius: initial;
      }
    }
    .active{
      a{
        border-bottom: 2px solid #ec7705;
      }
    }
  }

  .tab-content{
    padding: 42px 0 67px;
  }
  a{
    color: #000;
  }
  .price,.now{
    font-size: 28px;
    color: #f57e56;
  }
  .price,.now,.reason{
    float: left;
  }
  .car-content{
    padding: 0 20px;
  }
  .orders{
    .content{
      padding-left: 20px;
    }
    .service-item{
      padding: 5px 10px;
      border-bottom: 1px solid #eee;
      &:last-child{
        border: 0;
      }
      input{
        margin-right: 5px;
      }
    }
    .selected{
      color: #f57e56;
    }
    .part{
      margin: 0 auto;
    }
    .btn{
      position: fixed;
      bottom: 25px;
      right: 20px;
      z-index: 9999;
      line-height: 20px;
      margin: 0;
    }
  }
  .quick-select{
    position: relative;
    .add-car{
      position: absolute;
      top: 10px;
      right: 20px;
      line-height: 30px;
      background: #feac5a;
      padding: 0 10px;
      border-radius: 4px;
      font-size: 12px;
      color: #fff;
    }
    .car{
      margin: 10px 0;
      padding: 0;
      button{
        width: 90%;
      }
      .caret{
        float: right;
        margin: 8px 0;
      }
      .close{
        margin-top: 8px;
      }
    }
  }
  .comment-item{
    padding: 0 20px;
    margin: 10px 0;
    background: #fff;
    dt{
      overflow: hidden;
      line-height: 40px;
      border-bottom: 1px solid #f7f4f3;
    }
    h3{
      width: 230px;
      float: left;
      font-size: 16px;
      color: #2c698c;
    }
    .time{
      float: left;
      font-size: 12px;
      color: #999999;
    }
    dd{
      color: $title-gray;
    }
  }
}
.place-order-phone{
  form{
    padding-bottom: 68px;
  }
  .orders-content{
    overflow: hidden;
  }
  .radio{
    height: 35px;
  }
  .addr{
    display: none;
  }
  .choice-address-title:before{
    content: image-url('choice-address-title.png');
  }
  .order-info-title:before{
    content: image-url('order-info-title.png');
  }
  .addresses{
    padding: 0 15px;
    li{
      padding: 10px;
    }
    .add-new{
      text-align: center;
    }
  }
  .star{
    float: left;
    color: $font-orange;
    font-size: 20px;
    margin: 3px;
  }
  .des{
    float: right;
    line-height: 30px;
    font-size: 14px;
    .red{
      color: #ff7a3c;
    }
  }
  .info-group{
    padding: 5px 25px;
    margin-bottom: 0;
    line-height: 35px;
  }
  .verification_code,
  .get_code,
  .car_location,
  #car_num,
  #serve_date,
  #serve_period,
  #preferential_code,
  #validate_preferential,
  .info-title,
  .info-title{
    float: left;
  }

  .verification_code{
    width: 45%;
  }
  .get_code{
    width: 52%;
    margin-left: 3%;
    line-height: 22px;
    padding: 6px 0;
    font-size: 12px;
  }
  .car_location{
    width: 35%;
  }
  #car_num{
    width: 60%;
    margin-left: 5%;
  }
  #serve_date{
    width: 55%;
  }
  #serve_period{
    width: 40%;
    margin-left: 5%;
  }
  #preferential_code{
    width: 65%;
  }
  #validate_preferential{
    width: 30%;
    margin-left: 5%;
  }
  .info-con{
    float: right;
    width: 185px;
  }
  .spe1{
    float: left;
    width: 50%;
    padding-left: 30px;
  }
  .spe2{
    float: left;
    width: 33%;
    padding-left: 10px;
    text-align: center;
    .verify-btn{
      display: block;
      width: 90px;
      background: #feac5a;
      color: #fff;
      border-radius: 5px;
    }
  }
  #item_table{
    width: 100%;
    line-height: 15px;
    font-size: 12px;
    .item{
      width: 50%;
    }
    p{
      border-bottom: 1px solid #ccc;
      &:last-child{
        border: 0;
      }
    }
    th,tr{
      line-height: 30px;
    }
    th,td{
      border: 1px solid #ccc;
      text-align: center;
    }
  }
}
.order-status-phone{
  .order-status{
    .item-title:before{
      content: image-url('order-status.png');
    }
  }
  .status{
    padding: 10px 20px;
    background: #fff;
    li{
      line-height: 30px;
      &:last-child{
        border: 0;
      }
      .num{
        float: left;
        margin: 8px 10px;
        width: 15px;
        height: 15px;
        background: #d5e1e8;
        border-radius: 10px;
      }
      .title,.con{
        color: #999999;
      }
      .title{
        margin: 10px 0;
        font-size: 16px;
      }
      .con{
        padding-left: 18px;
        margin-left: 15px;
        border-left: 3px solid #d5e1e8;
        font-size: 14px;
      }
    }
    .selected{
      .num{
        float: left;
        margin: 0 5px;
        width: 25px;
        height: 25px;
        border-radius: 13px;
        background: #2c698c;
        border: 4px solid #d5e1e8;
      }
      .title,.con{
        color: #2c698c;
      }
    }
  }
  .tips{
    p{
      padding: 20px;
      background: #fff;
    }
  }
}

.auto-brands-phone,.auto-series-phone,.auto-model-phone{
  .list{
    padding-left: 20px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    border-style:solid;
    border-width: 0px 0px 1px 0px;
    border-color: #eee;
    color:#666462;
    .pull-left{
      width: 85%;
    }
    .arrow{
      margin-right: 20px;
      line-height: 40px;
    }
    a{
      display: block;
      width: 100%;
      color: #000;
    }
  }
}
