.posts{
  color: #666;

  .lists{
    .post-item{
      border: 1px solid #ddd;
      background: #fff;
      margin-bottom: 20px;
      padding: 20px;
      color: #ddd;
    }
  }

  .col-md-9.content{
    border: 1px solid #ddd;
    background: #fff;
  }
  p{
    margin: 10px 0;
    text-indent: 2em;
  }
  img{
    border: 1px solid #ddd;
  }
  h1{
    font-size: 36px;
  }
  h2{
    font-size: 32px;
  }
  h3{
    font-size: 28px;
  }
  h4{
    font-size: 24px;
  }
  h5{
    font-size: 20px;
  }
  h6{
    font-size: 18px;
  }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 20px 0 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }
  table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
  }
  tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
  td{
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
  }
  td, th {
    display: table-cell;
    vertical-align: inherit;
    border: 1px solid gray;
    border-spacing: 0;
  }
}




