@import 'mixins/button';

.main.static-pages{
  position: relative;
  padding-top: 66px;
  width: 1030px;
  margin: 0 auto;
  padding-bottom: 20px;

  .icon{
    height: 110px;
    .titles{
      position: absolute;
      top: 95px;
      left: 125px;
      .first-title, .sub-title{
        width: 400px;
        color: #e94609;
      }
    }
  }

  .title{
    font-size: 18px;
    color: #e94609;

    border-left: 5px solid #e94609;
    padding-left: 10px;
  }

  .geng-huan{
    .desc{
      text-indent:30px;
      margin-top: 10px;
    }
  }
  .partners{
    .icon-list{
      margin-left: -25px;
      margin-top: 20px;
      img{
        width: 100px;
        margin-left: 25px;
      }
    }
  }
  .geng-huan, .partners{
    margin-top: 15px;
  }

  .highlight{
    font-size: 20px;
    color: #e94609;
  }

  .order-btn{
    @include button;
    margin-right: 21px;
    margin-top: 28px;
  }

  .content{
    margin: -15px 0 0 35px;
    width: 95%;
    border-radius: 5px;
    background: #eeeeee;
    padding: 40px;
    padding-bottom: 10px;
    overflow: hidden;

    &.jiyousanlv{
      padding: 0;
      padding-bottom: 50px;
      .top{
        width: 100%;
        img{
          width: 100%;
          @include border-top-left-radius(5px);
          @include border-top-right-radius(5px);
        }
      }

      .middle-2{
        .left-part, .right-part{
          width: 50%;
        }
      }

      .bottom{
        border-top: 2px dashed #e94609;
        margin: 40px;
        margin-bottom: 0;
        padding-top: 40px;
        .left-part{
          width: 60%;
          ul li{
            margin-top: 10px;

            span.dot{
              display: inline-block;
              width: 10px;
              height: 10px;
              @include border-radius(50%);
              background-color: #e94609;
            }

          }
        }
        .right-part{
          img{
            margin-left: 60px;
            margin-top: 50px;
          }
        }

        .pm25-content{
          width: 70%;
          margin-left: 20px;
          margin-top: 10px;
        }
      }

      .middle-1, .middle-2{
        border-top: 2px dashed #e94609;
        margin: 40px;
        margin-bottom: 0;
        padding-top: 40px;
        .jiyou-desc, .jilv-desc, .konglv-desc{
          .jiyou-content, .konglv-content{
            width: 80%;
            margin-left: 20px;
            margin-top: 15px;
          }

          .jilv-content, .konglv-content{
            width: 73%;
            margin-top: 0;
            margin-left: 20px;
          }
        }

        .geng-huan, .partners{
          width: 50%;
          .desc{
            line-height: 25px;
          }
          .icon-list{
            margin-top: 10px;
            margin-left: -10px;
            img{
              margin-left: 10px;
            }
          }
        }

        .jilv-desc .geng-huan .desc{
          height: 43px;
        }
        .jilv-desc, .konglv-desc{
          .geng-huan, .partners{
            margin-top: 20px;
            width: 100%;
            .icon-list{
              margin-top: 20px;
            }
          }
        }
      }
    }

    &.fuwuliucheng{
      .item{
        margin-bottom: 30px;
        width: 100%;
        .l{
          width: 49%;
          &.odd{
            margin-top: 70px;
            margin-left: -37px;
          }

          &.even{
            margin-top: 70px;
            margin-right: -37px;
            text-align: right;
          }
          .title  {
            font-size: 36px;
            font-weight: bold;
            border-left: 0 none;
            padding-left: 0px;
          }
          .desc{
            font-size: 16px;
          }
        }
      }
    }

    &.jiyoujilv{
      padding-right: 0;
      padding-top: 0;
      padding-bottom: 50px;

      .jiyou, .jilv{

        .left-part{
          width: 53%;
          margin-top: 40px;
        }
        .right-part{
          width: 45%;
          img.man{
            width: 100%;
            @include border-top-right-radius(5px);
          }
          .test32{
            font-size: 32px;
            text-align: center;
            color: #e94609;
            margin-top: 20px;
          }
        }

        .jiyou-img, .jilv-img{
          width: 100px;
        }
        .jiyou-content, .jilv-content{
          width: 340px;
          margin-left: 20px;
          font-size: 14px;
        }
      }

      .jilv{
        margin-top: 30px;
        border-top: 2px dashed #e94609;
        margin-right: 40px;
        padding-top: 30px;
        .left-part{
          margin-top: 0;
        }
        .jilv-content{
          width: 340px;
        }
        .partners{
          margin-top: 0px;
        }
      }
    }


    &.huandianping{
      padding-left: 30px;
      padding-top: 40px;
      padding-bottom: 30px;
      margin-bottom: 30px;
      .zhouqi{
        .img-content{
          margin-left: 15px;
          width: 86%;
          .highlight{
            font-size: 20px;
            color: #e94609;
          }
        }
      }
      .description{
        margin-top: 20px;
        margin-bottom: 35px;
        .highlight{
          width: 100%;
          font-size: 20px;
          color: #e94609;
          border-left: 5px solid #e94609;
          padding-left: 10px;
        }
        .genghuan-content{
          text-indent:25px;
          margin-top: 20px;
        }
      }
      .dianpingjieshao{
        border-top: 2px dashed #e94609;
        .jieshao{
          width: 100%;
          margin-top: 35px;
          margin-bottom: 20px;
          font-size: 20px;
          color: #e94609;
          border-left: 5px solid #e94609;
          padding-left: 10px;
        }
        .boshis3, .boshis4, .boshis5{
          width: 33%;
          padding-left: 12px;
          .desc{
            font-size: 20px;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .adapter{
            color: #e94609;
          }
          .detail-desc{
            font-size: small;
            padding-right: 10%;
            text-align: justify;
          }
          .img-content{
            font-size: small;
            margin-bottom: 3px;
            margin-right: -7px;
            width: 100%;
            .img{
              width: 10px;
              height: 10px;
              margin-right: 3px;
            }
          }
        }
        .boshis3, .boshis4, .boshis5{
          border-right: 2px solid lightgray;
          .detail-desc{
            margin-bottom: 20px;
          }
          .notice{
            width: 50%;
            background-color: #e94609;
            border-radius: 10px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            padding-top: 2px;
            padding-bottom: 2px;
            color: white;
          }
        }
        .boshis5{
          border-right: 0 none;
          .notice{
            width: 63%;
          }
        }
      }
    }

    &.pm25{
      .lvqingqi{
        margin-left: -45px;
        margin-top: -46px;
        margin-right: -40px;
        .img{
          width: 100%;
          height: 100%;
        }
      }
      .jiancezhongxin{
        margin-top: 5px;
        .left-part{
          margin-top: 25px;
          width: 30%;
          .top-img, .bottom-img{
            width: 90%;
            height: 90%;
          }
          .top-img{
            margin-bottom: 18px;
          }
          .bottom-img{
            margin-top: 18px;
          }
        }
        .right-part{
          width: 70%;
          .third, .fifth{
            .baifenbi{
              font-size: 20px;
              color: #e94609;
            }
          }
          .second{
            margin-top: 30px;
            margin-bottom: 13px;
            .sec-font{
              width: 34%;
              height: 34%;
            }
          }
          .third{
            margin-bottom: 40px;
          }
          .fourth{
            margin-bottom: 12px;
            .fou-font{
              width: 38%;
              height: 38%;
            }
          }
        }
      }
      .genghuanzhouqi, .pm25weihai, .cheneipm25, .kongtiaolvxin{
        margin-top: 20px;
        .biaoti{
          width: 100%;
          margin-bottom: 10px;
          font-size: 17px;
          .sub-biaoti{
            color: #e94609;
            border-left: 5px solid #e94609;
            padding-left: 10px;
          }
        }
        .desc{
          width: 100%;
          text-indent: 16px;
          margin-bottom: 5px;
          margin-left: 15px;
          .sub-desc{
            margin-top: 7px;
            margin-right: 15px;
            text-indent: 16px;
          }
        }
      }
      .genghuanzhouqi{
        width: 91%;
        margin-bottom: -10px;
        .desc{
          text-indent: 0px;
        }
        .dash{
          width: 100%;
          margin-top: 10px;
          margin-left: 37px;
          border-top: 2px dashed #e94609;
        }
      }
      .kongtiaolvxin{
        .lvxin-item{
          margin-left: 18px;
          margin-bottom: 7px;
          .lvxin-title{
            width: 100%;
            color: #e94609;
            margin-bottom: 3px;
            font-size: 15px;
            .lvxin-sub-number{
              margin-right: 18px;
            }
          }
          .lvxin-content{
            margin-left: 30px;
            .lvxin-content-item{
                .lvxin-content-sub-title{
                    color: #e94609;
                    margin-right: 20px;
                    margin-bottom: 5px;
                }
            }
          }
        }
      }
    }
    .yanzhongwuranwu, .zhengzhuangjiwenti{
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%;
      .biaoti{
        width: 100%;
        margin-bottom: 20px;
        font-size: 17px;
        color: #e94609;
        border-left: 5px solid #e94609;
        padding-left: 10px;
      }
      .wuranwu-img, .wenti-img{
        margin-left: 13.5%;
        margin-bottom: 12px;
      }
    }
    .shiyongwenda{
      .biaoti{
        margin-bottom: 13px;
        font-size: 17px;
        color: #e94609;
        border-left: 5px solid #e94609;
        padding-left: 10px;
      }
      .wenda-list{
        margin-bottom: 10px;
        .wenda-item{
          margin-bottom: 12px;
          margin-left: 15px;
          .wenda-title{
            width: 100%;
            .wenda-icon{
              margin-right: 5px;
              background-color: #ee7800;
              padding: 1.5px;
              color: white;
              text-align: center;
            }
            .wenda-sub-title{
              color: #ee7800;
              font-size: 15px;
            }
          }
          .item-content{
            margin-left: 27px;
          }
        }
      }
    }

    &.qiyejieshao{
      .jieshao{
        .left-img{
          width: 20%;
          .left-icon{
              width: 100%;
              height: 100%;
          }
        }
        .right-content{
          width: 75%;
          margin-left: 30px;
          margin-top: 30px;
          text-indent: 30px;
        }
      }
      .linian{
        margin-top: 40px;
        .linian-title{
          margin-bottom: 20px;
          font-size: 17px;
          color: #e94609;
          border-left: 5px solid #e94609;
          padding-left: 10px;
        }
        .linian-content{
          margin-left: 18px;
          .linian-content-first, .linian-content-second{
            margin-bottom: 10px;
            text-indent: 30px;
          }
        }
      }
      .fuwubaozhang, .kaladingyuanjing, .kaladingfazhan{
        margin-top: 10px;
        .fuwubaozhang-title, .kaladingyuanjing-title, .kaladingfazhan-title{
          width: 100%;
          margin-bottom: 20px;
          font-size: 17px;
          color: #e94609;
          border-left: 5px solid #e94609;
          padding-left: 10px;
        }
        .gouzhuanye-img{
          width: 100%;
          margin-left: -10px;
          margin-top: -10px;
          text-align: center;
        }
      }
      .kaladingyuanjing{
        margin-top: 20px;
        .youxiu-img{
          margin-left: 15%;
        }
      }
      .kaladingfazhan{
        margin-bottom: 10px;
        .kaladingfazhan-content{
          margin-left: 15px;
          .fazhan-first, .fazhan-second, .fazhan-third, .fazhan-fourth{
            text-indent: 30px;
            margin-bottom: 10px;
          }
        }
      }
      .foot-image{
        margin-bottom: 10px;
      }
    }

    &.qiyerongyu{
        margin-bottom: 100px;
        .img{
            width: 100%;
            height: 100%;
            margin-bottom: 30px;
        }
    }

  }
  .icon-desc{
    margin-left: 15px;
    margin-top: 30px;
    color: #e94609;
    font-weight: bold;
    .first-desc{
      margin-bottom: 2px;
    }
    .second-desc{
      margin-top: 2px;
    }
  }
}
