<%= simple_form_for @diymenu do |f| %>
  <%= f.error_notification %>
<% end %>

<div class="container">
  <table class="table striped">
    <tbody>
      <tr>
        <td><%= @hello%></td>
        <td>自定义微信公众账号功能菜单</td>
      </tr>
    </tbody>
  </table>

  <%= link_to "返回", admin_weixin_index_path %>
</div>
