<div class="header">
	<%= image_tag("logo.png", :class=> "logo")%>
	<span class="maintain-address">保养地点：<%= current_city %></span>
	<ul class="nav">
		<li class="personal"></li>
		<li class="wechat"></li>
		<li class="tel"></li>
	</ul>
</div>